     <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
        <header background-color="#BBDEFB" class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="tin-tuc-bao-chi.html" > Bài viết - tin tức<i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="danh-sach-tin-tuc.html">Các bài viết và báo chí</a></li>
                                <li><a href="danh-sach-tin-tuc.html">Thông báo</a></li>
                                <li><a href="danh-sach-tin-tuc.html">Sự kiện</a></li>
                                <li class="divider"></li>
                                <li>EConsult</li>
                            </ul>
                        </li>
                        <li><a href="khoa-hoc.html">Khóa học</a></li>
                        
                        <li><a href="tuyen-dung.html">Tuyển dụng</a></li>
                             
                    </ul>
                </div>
            </div>
        </header><!--/header-->