<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	


    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
<!--/header-->
<% include header.ejs %>

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Giới thiệu</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
				<div class="col-sm-4">
				<img class="img-responsive" src="img/about-us.jpg" alt="About Us">
				</div>
				<div class="col-sm-8">
						<h2>CÔNG TY CHUYÊN GIA TƯ VẤN (ECONSULT)</h2>
						<h3>ĐÔI NÉT VỀ ECONSULT </h3>
						<p>
						<span style="font-size:16px;"><strong><span style="color:#0000ff;">Công ty EConsult</span>&nbsp;&nbsp;</strong>E-Consult được thành lập dựa trên sự hợp tác và đoàn kết giữa những chuyên gia trong lĩnh vực Kinh
						tế, Pháp lý và Đào tạo. Tất cả đều có chung niềm khao khát và đam mê cống hiến những kiến thức,
						kinh nghiệm thực tiễn trong nhiều môi trường làm việc, trong nhiều năm của mỗi thành viên, biến
						nó thành những giá trị to lớn và rộng khắp cống hiến cho Doanh nghiệp và Cá nhân trên lãnh thổ
						Việt Nam, vì sự phát triển của một thế hệ Doanh nhân và Cá nhân mới, vì sự phát triển nhảy vọt cho
						Việt Nam trong quá trình toàn cầu hóa.</span>
						<p  style="font-size:16px;" >E-Consult là sự kết tinh của một tập thể đội ngũ thành viên <strong>có TÂM – có TẦM – có TÀI</strong>.</p>
						<p  style="font-size:16px;">Với mục tiêu 5E: <strong>E-Electronic, E-English, E-Effective, E-Excellence, E-Expert</strong>.</p>
						
						
						</p>
						<p>
							<strong><span style="color:#0000ff;"><span style="font-size:16px;">Hai lĩnh vực hoạt động chính của EConsult:</span></span></strong>
							<span style="color:#0000ff;">Tư vấn pháp lý và Đào tạo chuyên sâu (Tiếng Anh và Kỹ
							năng chuyên ngành)</span>
						</p>						
						<h3>TẦM NHÌN:</h3>
						<p>
							<span style="font-size:16px;"><span style="color:#0000ff;">*&nbsp;EConsult&nbsp;:</span>Trở thành một Tổ chức Giáo dục - Tư vấn pháp lý, thương mại hàng đầu của Việt Nam và Khu vực
							Châu Á trong lĩnh vực phát triển và hoàn thiện con người trong mỗi cá nhân và tổ chức vào năm
							2020.</span>
						</p>
						<h3>TU​YÊN BỐ SỨ MỆNH::</h3>
						<p>
							<span  style="font-size:16px;">Giúp các cá nhân và tổ chức khám phá và sử dụng tối đa những tiềm năng của mình trong công việc
							và cuộc sống.</span>
						</p>
						<h3>GIÁ TRỊ của EConsult:</h3>
						<p  style="font-size:16px;" >
							chính là sự hội tụ giá trị trong mỗi thành viên của EConsult
							<span style="font-size:16px;">NIỀM TIN -&nbsp;TRÁCH NHIỆM -&nbsp;ĐOÀN KẾT -&nbsp;VƯỢT TRỘI -​&nbsp;HIỆU QUẢ</span>
						</p>
						<h3>HOẠT ĐỘNG XÃ HỘI:</h3>
						<p>
							<span  style="font-size:16px;">Thấu hiểu rằng trách nhiệm đối với xã hội là một yếu tố quan trọng góp phần mang lại sự phát triển
							bền vững không chỉ cho tổ chức hành nghề của chúng tôi mà còn cho các thế hệ tương lai. Do vậy,
							chúng tôi đã và đang nỗ lực đóng góp các giải pháp cho các vấn đề xã hội với mục tiêu mang đến cho
							cộng đồng các lợi ích thiết thực và có giá trị.</span>
						</p>
						
						
						
				<div class="clients-logo-wrapper text-center row">
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.hlu.edu.vn/"><img src="/img/logos/hlu_logo.png" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.hanu.edu.vn"><img src="/img/logos/hnu_logo.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.neu.edu.vn"><img src="/img/logos/neu_logo.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.vnu.edu.vn/"><img src="/img/logos/VNU_logo.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.hnue.edu.vn"><img src="/img/logos/hneu_logo.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://amc.edu.vn/vi/"><img src="/img/logos/amc.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="https://www.univ-paris5.fr/"><img src="/img/logos/p5.png" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="https://university.parisnanterre.fr/"><img src="/img/logos/p10.jpg" alt="Client Name"></a></div>
						
				</div>						
					</div>
				</div>
			</div>
		</div>

<hr>		

        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Team Member -->
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<!-- Team Member Photo -->
							<div class="team-member-image"><img src="img/team/1.jpg" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<!-- Team Member Info & Social Links -->
									<li class="team-member-name">
										Ảnh hoạt động công ty
										<!-- Team Member Social Links -->
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-github"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Làm việc</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Team Member -->
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="img/team/2.jpg" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<li class="team-member-name">
										Ảnh hoạt động công ty
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Vui chơi</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="img/team/3.jpg" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<li class="team-member-name">
										Ảnh hoạt động công ty
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Tìm hướng giải quyết</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<hr>

       

		

	  
	    <!-- Footer -->
	    <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>(+84)  962538126</p></font></strong> </Button></div>
		
        


        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>