<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	


    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
<!--/header-->
<% include header.ejs %>

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Giới thiệu</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
				<div class="col-sm-4">
				<img class="img-responsive" src="img/about-us.jpg" alt="About Us">
				</div>
				<div class="col-sm-8">
						<h2>CÔNG TY CHUYÊN GIA TƯ VẤN (ECONSULT)</h2>
						<h3>ĐÔI NÉT VỀ ECONSULT </h3>
						<p>
						<span style="font-size:16px;"><strong><span style="color:#0000ff;">EConsult</span>&nbsp;&nbsp;</strong>là một trong những công ty tư vấn uy tín ở Việt Nam, với đội ngũ các luật
						sư – chuyên gia tư vấn đông đảo, đến với chúng tôi khách hàng không chỉ nhận
						được sự tư vấn pháp luật theo yêu cầu mà còn được tư vấn các giải pháp pháp lý
						chuyên sâu cho lĩnh vực hoạt động đa dạng của mình.
						Chúng tôi luôn luôn hướng đến cung cấp dịch vụ làm hài lòng khách hàng. Với
						phương châm hoạt động của chúng tôi là tất cả vì lợi ích khách hàng, chú trọng xây
						dựng quan hệ cá nhân của từng thành viên đối với khách hàng, luôn trung thực,
						khách quan tư vấn đúng để bảo vệ lợi ích khách hàng.
						Khách hàng lựa chọn chúng tôi vì một lý do rất đơn giản: chất lượng dịch vụ cao
						nhất. Với uy tín của các chuyên gia tư vấn – đào tạo cùng các luật sư có kinh
						nghiệm cộng với đội ngũ lãnh đạo của ECONSULT luôn theo sát và đôn đốc công
						việc, tốc độ giải quyết công việc được đẩy nhanh. Vì thế, dịch vụ của ECONSULT
						tiết kiệm tốt nhất thời gian, chi phí cho khách hàng.
						Khi khách hàng cần, chúng tôi luôn sẵn sàng tư vấn 24/7 trực tuyến cho khách
						hàng.</span>
						<h3>CÁC DỊCH  VỤ CHÚNG TÔI CUNG CẤP:</h3>
						<P></P>
						<p>Chúng tôi hỗ trợ doanh nghiệp trong vấn đề thành lập doanh nghiệp, thay đổi đăng
								ký kinh doanh, giải thể và phá sản doanh nghiệp. Chúng tôi cũng trợ giúp pháp lý
								trong các vấn đề khác như thay đổi người đại diện theo pháp luật, tăng vốn điều lệ
								hay làm lại con dấu cho doanh nghiệp.</p>
						<p>
								Chúng tôi với đội ngũ luật sư giàu kinh nghiệm sẽ giúp bạn các thủ tục hay hồ sơ
								trong các vấn đề liên quan đến tư vấn các lĩnh vực dân sự, ví dụ như:
						</p>	
						<p>
								<p> Luật sư gia đình</p>
								<p> Luật sư doanh nghiệp</p>
								
								<p> Luật sư cá nhân</p>
								<p> Thừa kế - di chúc</p>
								<p> Kết hôn nước ngoài</p>
								<p> Tư vấn ly hôn</p>
								<p> Ly hôn nước ngoài</p>
								<p> Những vấn đề pháp lý có yếu tố nước ngoài</p>
						</p>
						<p>
								Dịch vụ hỏi đáp luật doanh nghiệp của chúng tôi đã có uy tín từ lâu với rất nhiều
								các thắc mắc được các luật sư nhiều kinh nghiệm của chúng tôi giải đáp. Bạn có
								thể khám phá ngay hoặc đặt một câu hỏi cho các nhà tư vấn chuyên nghiệp của
								chúng tôi.	
						</p>		
						<h3>CHÚNG TÔI ĐẶC BIỆT CÓ THẾ MẠNH ĐỐI VỚI CÁC LĨNH VỰC SAU:</h3>
						<p>Tư vấn Di Trú</p>
						<p>Giải quyết những vấn đề pháp lý có yếu tố nước ngoài</p>
						<p>Tư vấn Tuân thủ/ Quản trị doanh nghiệp</p>
						<p>Tư vấn thành lập doanh nghiệp/set up doanh nghiệp</p>
						<p>Tư vấn về tài chính ngân hàng</p>
						<p>Tư vấn lao động</p>
						<p>Tư vấn doanh nghiệp và thương mại</p>
						<p>Rà soát việc tuân thủ pháp luật</p>
						<p>Tư vấn sáp nhập và mua bán doanh nghiệp</p>
						<p>
								Bên cạnh đó,<strong><span style="color:#0000ff;">EConsult</span>&nbsp;&nbsp;</strong> với những chuyên gia tâm huyết đã luôn nỗ lực
								hết mình để mang đến những chương trình đào tạo, những khóa học chất lượng cao
								và khác biệt ở đặc điểm nhấn mạnh tính thực hành và ứng dụng. Chúng tôi cung
								cấp các khóa học kỹ năng chuyên ngành luật; kỹ năng giao tiếp tiếng anh, tiếng
								pháp; tiếng anh pháp lý… Mỗi một chương trình đều gắn kết thực tế giúp học viên
								áp dụng ngay những kiến thức đã học vào giải quyết thành công những vấn đề hiện
								tại của cá nhân, tập thể.
						</p>
						<p></p>					
						<h3>TẦM NHÌN:</h3>
						<p>
							<span style="font-size:16px;"><span style="color:#0000ff;">*&nbsp;EConsult&nbsp;:</span>Trở thành một Tổ chức Giáo dục - Tư vấn pháp lý, thương mại hàng đầu của Việt Nam và Khu vực
							Châu Á trong lĩnh vực phát triển và hoàn thiện con người trong mỗi cá nhân và tổ chức vào năm
							2020.</span>
						</p>
						<h3>SỨ MỆNH::</h3>
						<p></p>
					
						<p>
							<span  style="font-size:16px;">Giúp các cá nhân và tổ chức khám phá và sử dụng tối đa những tiềm năng của mình trong công việc
							và cuộc sống.</span>
						</p>
						<h3>CÁC GIÁ TRỊ:</h3>
						<p  style="font-size:16px;" >
							
							<span style="font-size:16px;">
								<p>- NIỀM TIN &nbsp;</p>
									<p>- TRÁCH NHIỆM &nbsp;
										<p>- ĐOÀN KẾT &nbsp;</p>
											<p>- VƯỢT TRỘI &nbsp;
												<p></p>- HIỆU QUẢ
							</span>

						</p>
						<p>Đến <span style="font-size:16px;"><span style="color:#0000ff;">*&nbsp;EConsult&nbsp;:</span>, bạn không chỉ nhận được những giá trị thiết thực từ những
								khóa học mà bạn còn được chia sẻ kinh nghiệm thực tế từ những Chuyên gia hàng
								đầu Việt Nam. Từ đó, bạn có thể khám phá, phát triển và hoàn thiện bản thân, xác
								định được mục tiêu, kế hoạch và định hướng tương lai. <span style="font-size:16px;"><span style="color:#0000ff;">*&nbsp;EConsult&nbsp;:</span> bước
								những bước dài và vững vàng trên con đường lớn bằng tầm nhìn phát triển, sứ
								mệnh thời đại trên nền tảng những giá trị cốt lõi.</p>
						
						
						
						
				<div class="clients-logo-wrapper text-center row">
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.hlu.edu.vn/"><img src="/img/logos/hlu_logo.png" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.hanu.edu.vn"><img src="/img/logos/hnu_logo.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.neu.edu.vn"><img src="/img/logos/neu_logo.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.vnu.edu.vn/"><img src="/img/logos/VNU_logo.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.hnue.edu.vn"><img src="/img/logos/hneu_logo.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://amc.edu.vn/vi/"><img src="/img/logos/amc.jpg" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="https://www.univ-paris5.fr/"><img src="/img/logos/p5.png" alt="Client Name"></a></div>
						<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="https://university.parisnanterre.fr/"><img src="/img/logos/p10.jpg" alt="Client Name"></a></div>
						
				</div>						
					</div>
				</div>
			</div>
		</div>

<hr>		

        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Team Member -->
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<!-- Team Member Photo -->
							<div class="team-member-image"><img src="img/team/1.jpg" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<!-- Team Member Info & Social Links -->
									<li class="team-member-name">
										Ảnh hoạt động công ty
										<!-- Team Member Social Links -->
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-github"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Làm việc</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End Team Member -->
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="img/team/2.jpg" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<li class="team-member-name">
										Ảnh hoạt động công ty
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Vui chơi</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="img/team/3.jpg" alt="Name Surname"></div>
							<div class="team-member-info">
								<ul>
									<li class="team-member-name">
										Ảnh hoạt động công ty
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
									</li>
									<li>Tìm hướng giải quyết</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<hr>

       

		

	  
	    <!-- Footer -->
	    <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>(+84)  962538126</p></font></strong> </Button></div>
		
        


        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>