<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

         <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<header background-color="#BBDEFB" class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Trang chủ</a></li>
                    <li><a href="about-us.html">Giới thiệu</a></li>
					<li class="dropdown">
                        <a href="tin-tuc-bao-chi.html" > Bài viết - tin tức<i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="danh-sach-tin-tuc.html">Các bài viết và báo chí</a></li>
                            <li><a href="danh-sach-tin-tuc.html">Thông báo</a></li>
                            <li><a href="danh-sach-tin-tuc.html">Sự kiện</a></li>
                            <li class="divider"></li>
                            <li>EConsult</li>
                        </ul>
                    </li>
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dịch vụ <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li border="1px"><a href="document-able/econsult_bangigadichthuat.pdf"target="_blank">Bảng giá dịch thuật</a></li>
                            <li><a href="shareService.html">Dịch vụ chung</a></li>
                            <li><a href="shareService_dichthuat.html">Dịch vụ dịch thuật công chứng</a></li>
                            <li><a href="shareService_doangnghiep_thuongmai.html">Dịch vụ tư vấn doanh nghiệp</a></li>
                            <li><a href="shareService_honnhan_giadinh.html">Dịch vụ tư vấn hôn nhân và gia đình</a></li>
                            <li><a href="shareService_finace_banking.html">Dịch vụ tư vấn tài chính ngân hàng</a></li>
                            <li><a href="shareService_tax.html">Dịch vụ tư vấn thuế</a></li>
                            <li><a href="shareService_tuvan.html">Dịch vụ tư vấn</a></li>
                            <li class="divider"></li>
                            <li>EConsult</li>
                        </ul>
                    </li>
					<li><a href="khoa-hoc.html">Khóa học</a></li>
					
                    <li><a href="tuyen-dung.html">Tuyển dụng</a></li>
                    <li><a href="contact-us.html">Liên hệ</a></li>
                           <li class="dropdown" >
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Đăng nhập</b> <span class="caret"></span></a>
						<ul  id="login-dp" class="dropdown-menu" style="width:300px; border: 2px solid #a1a1a1;border-radius: 15px;">
							<li style="height:150%;width:100%">
									
									<p align="center"><img src="img/logo-econsult.png" style="width:84px;height:84px;" alt="econsul"></p>
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav" style="height:100%;width:100%">
										<div class="form-group" style="height:150%">
											<p> <label >Tài Khoản</label>
											 <input type="email" class="form-control" id="aName" name="aName" placeholder="Tài Khoản" required></p>
										</div>
										<div class="form-group">
											 <label >Mật khẩu</label>
											 <input type="password" class="form-control" id="aPass" name="aPass" placeholder="Mật khẩu" required>                                          
										</div>
										<div class="col-md-12 text-center">
											<button type="submit" class="btn btn-primary btn-lg">Đăng nhập</button>
										</div>
										
									</form>
								
							</li>
						</ul>
					</li
                </ul>
            </div>
        </div>
    </header><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Thông tin liên lạc:</h1>
					</div>
				</div>
			</div>
		</div>
        <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="fname" name="name" type="text" placeholder="Họ tên *" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="mail" name="mail" type="text" placeholder="Email *" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="address" name="address" type="text" placeholder="Địa chỉ" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="phone" name="phone" type="text" placeholder="Điện thoại" class="form-control">
                            </div>
                        </div>
						<div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="tittle" name="tittle" type="text" placeholder="Tiêu đề *" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Nội dung liên lạc *." rows="7"required></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Gửi liên hệ</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
        <div class="section section-map">


	        		<div class="col-sm-12" style="padding:0;">
	        			<!-- Map -->
	        			<div id="contact-us-map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2972022096906!2d105.84362631535896!3d21.02079099342531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab91ed0cb807%3A0xa27e612e1f73cfc9!2zODFBIFRy4bqnbiBRdeG7kWMgVG_huqNuLCBUcuG6p24gSMawbmcgxJDhuqFvLCBIb8OgbiBLaeG6v20sIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1506611133290" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
							<br />
							<small>
								<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
							</small>
							</iframe>
	        			</div>
	        			<!-- End Map -->
					</div>


	    </div>



	   
	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
			
		    	<div class="row">
				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Liên hệ với chúng tôi qua</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 81A Trần Quốc Toản, Trần Hưng Đạo, Q. Hoàn Kiếm, Hà Nội.<br/>
	        				<b>Phone:</b> (+84) 989633596 <br/>
	        				<b>Fax:</b> (+84-24) 3941 2991<br/>
	        				<b>Email:</b> <a href="mailto:info@yourcompanydomain.com"> EConsult.Hotrodichvu@gmail.com hoặc Luatsu.EConsult@gmail.com</a>
	        			</p>
		    		</div>				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Liên hệ qua mạng xã hội trực tuyến</h3>
						<p>Liên lạc với chúng tôi qua facebook hoặc email.</p>
		    			<div>
		    				<img src="img/icons/facebook.png" width="32" alt="Facebook">
		    				<img src="img/icons/twitter.png" width="32" alt="Twitter">
		    				<img src="img/icons/linkedin.png" width="32" alt="LinkedIn">
							<img src="img/icons/rss.png" width="32" alt="RSS Feed">
						</div>
		    		</div>
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<div id="fb-root"></div>
							<script>(function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
									if (d.getElementById(id)) return;
									js = d.createElement(s); js.id = id;
									js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10";
									fjs.parentNode.insertBefore(js, fjs);
									}(document, 'script', 'facebook-jssdk'));</script>
									<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcongtyluateconsult%2F&tabs=timeline&width=300&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		    		</div>

		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2017 <a>NAT-Cor</a>.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        

        <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	


    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
		

    </body>
</html>