<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
		<% include header.ejs %><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Khóa học</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>Giới thiệu khóa học Tiếng Anh cho người phỏng vấn xin visa</h2>
							</div>
							
							<!-- embed media --
							<div class="single-post-image">
								<img src="img/blog/1.jpg" alt="Post Title">
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>30 JAN, 2013
							</div>
							-- end-embed media -->
							
							<div class="single-post-content single-post-style">
								<p> Tính đến thời điểm hiện nay, số lượng người Việt Nam du học, du lịch và làm việc tại nước ngoài ngày càng tăng. Theo Bộ Giáo dục và Đào tạo cho biết năm 2016 có khoảng 136.000 công dân Việt Nam đang học tập tại nước ngoài. Theo số liệu của tổ chức Di cư Quốc tế (IMO) Việt Nam cũng là một trong 10 quốc gia di cư ra nước ngoài nhiều nhất Đông Á – Thái Bình Dương tính đến năm 2013, nằm trong những quốc gia có công dân mua nhà tại Mỹ nhiều nhất thế giới với 3 tỷ USD được chi trả trong năm 2017 và trong top 10 liên tục từ 2013 – 2017. Trong nửa đầu năm 2017, có hơn 57.000 lao động Việt Nam đang làm việc tại nước ngoài. Do đó, nhu cầu về việc học Tiếng Anh ngày càng tăng cao.</p>
								<p> Bên cạnh việc bắt buộc phải có bằng IELTS để du học và định cư nước ngoài thì đối với 1 số diện du học, định cư thì chỉ cần một trình độ nhất định để phỏng vấn, xin visa đủ để sinh sống học tập và làm việc tại nước ngoài hay đơn giản chỉ là nhu cầu đi du lịch. Bạn có biết rằng một trong những nguyên nhân chủ yếu khiến nhiều người bị từ chối visa là vì không trả lời phỏng vấn bằng Tiếng Anh. Nếu không giao tiếp được, họ sẽ hoài nghi mục đích xin visa của bạn và sẽ rất dễ đánh trượt hồ sơ đó vì vậy việc sử dụng được Tiếng Anh là 1 sự đảm bảo khá chắc chắn cho bạn khi phỏng vấn xin visa. Nếu như hộ chiếu là loại giấy tờ được cơ quan nhà nước có thẩm quyền cấp cho công dân của mình khi họ mong muốn đi nước ngoài thì visa là loại giấy tờ mà một quốc gia khác cấp cho công dân với mục đích nhập cảnh và lưu trí trong khoảng thời gian nhất định. Vì vậy nếu không có visa thì mọi dự định du học, du lịch, đi ra nước ngoài đều không thành công.</p>
								<p> Công ty Luật chuyên gia tư vấn E-consult tổ chức các khóa học Tiếng Anh ngắn hạn dành cho những học viên chuẩn bị phỏng vấn xin visa du học, du lịch, làm việc,… Với đội ngũ giáo viên có các chứng chỉ quốc tế như Ielts, Toefl, Tesol,… và nhiều kinh nghiệm giảng dạy, chúng tôi tin rằng học viên có thể giao tiếp thành thạo trong thời gian ngắn.</p>
								
								<h4>1. Nội dung khóa học Tiếng Anh cho người phỏng vấn xin visa</h4>
								<p>- Chương trình giảng dạy trong khóa học sẽ trang bị cho học viên hai kỹ năng giao tiếp cơ bản là nghe và nói.</p>
								<p>- Học viên sẽ được học và giao tiếp toàn bộ bằng Tiếng Anh </p>
								<p>- Nội dung chủ yếu:</p>
								<div style="padding-left:20px;">
									<p class="sub-text">• Giảng viên sẽ tạo các tình huống, câu hỏi để tạo phản xạ giao tiếp cho học viên</p>
									<p class="sub-text">• Chuẩn hóa phát âm</p>
									<p class="sub-text">• Rèn luyện sự tự tin khi giao tiếp</p>
									<p class="sub-text">• Ôn luyện và chuẩn bị một số câu hỏi thường xuất hiện trong khi phỏng vấn xin visa, trả lời đúng ý câu hỏi của người phỏng vấn và những điều họ mong muốn</p>
									<p class="sub-text">• Rèn luyện trong tình huống đang phỏng vấn tại đại sứ quán</p>
									<p class="sub-text">• Tránh những lỗi hay mắc phải khi phỏng vấn </p>
									<p class="sub-text">• Học các tip ghi điểm với nhân viên lãnh sự</p>
								</div>
								
								<h4>2. Mục tiêu:</h4>
								<p>- Học viên sẽ giao tiếp được với người bản địa khi sang nước ngoài sinh sống, học tập, làm việc, …</p>
								<p>- Tự tin vượt qua vòng phỏng vấn bằng Tiếng Anh khi xin visa tại Đại sứ quán.</p>
								
								<h4>3. Đối tượng học:</h4>
								<p>Sinh viên, người đi làm, người cao tuổi, những người chưa từng học Tiếng Anh,… muốn xin visa ra nước ngoài sinh sống, làm việc, thăm gia đình, du lịch, … </p>
								
								<h4>4. Đội ngũ giảng viên:</h4>
								<p>E-consult tự hào với đội ngũ giảng viên chuyên môn cao và kinh nghiệm giảng dạy phong phú. Các giảng viên của chúng tôi đều có chứng chỉ quốc tế, nhiều người có bằng Tiếng Anh chuyên ngành Thạc sĩ hoặc cao hơn.Bằng tâm huyết và kinh nghiệm, các giảng viên không chỉ mang đến cho học viên những kiến thức, kĩ năng nâng cao trình độ Tiếng Anh mà còn truyền cảm hứng say mê, yêu thích, cảm thấy việc học Tiếng Anh rất dễ dàng.</p>
								
								<h4>5. Thời gian học, học phí:</h4>
								<p>- Địa điểm: Tòa nhà Trần Gia, 81A Trần Quốc Toản, Hoàn Kiếm, Hà Nội</p>
								<p>- Tổng thời lượng: 3-5 buổi</p>
								<p>- Hình thức học: 1 thầy 1 trò hoặc 1 thầy dạy 3-4 học sinh</p>
								<p>- Học phí:  500.000 VNĐ – 2.000.000 VNĐ (Đã bao gồm giáo trình và tài liệu)</p>
								
							</div>
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>
		  <!-- Footer -->
		  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>