<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
		<% include header.ejs %><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Khóa học</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>Kỹ năng tư vấn Luật Đầu tư nước ngoài và Luật Sở hữu trí tuệ</h2>
							</div>

							<!-- embed
							<div class="single-post-image">
								<img src="img/blog/1.jpg" alt="Post Title">
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>30 JAN, 2013
							</div>
							end-embed -->
							
							<div class="single-post-content">
								<h4>1. Kỹ năng tư vấn Luật Đầu tư nước ngoài bao gồm: Tư vấn thủ tục xin cấp Giấy chứng nhận đầu tư, Giấy chứng nhận Đăng ký kinh doanh và Tư vấn Thủ tục Điều chỉnh Giấy chứng nhận đầu tư.</h4>
								<p>- Cụ thể:</p>
								<div style="padding-left:20px;">
									<p class="sub-text">• Hướng dẫn ngành nghề kinh doanh của Công ty có vốn đầu tư nước ngoài tại Việt Nam (ngành nghề cho phép, ngành nghề hạn chế, ngành nghề không khuyến khích đầu tư; ngành nghề có điều kiện; ngành nghề thẩm tra…vv.)</p>
									<p class="sub-text">• Thực hành làm hồ sơ thành lập Công ty TNHH một thành viên (100% vốn nước ngoài do cá nhân; pháp nhân là chủ sở hữu).</p>
									<p class="sub-text">• Thực hành làm hồ sơ thành lập công ty TNHH hai thành viên trở lên (Công ty liên doanh).</p>
									<p class="sub-text">• Thực hành làm hồ sơ thành lập công ty Cổ phần.</p>
									<p class="sub-text">• Thực hành thay đổi nội dung đăng ký kinh doanh trong Giấy chứng nhận đầu tư Công ty (mọi nội dung thay đổi)</p>
								</div>
								<p>- Thời gian học: 3 buổi (02 buổi lý thuyết và 01 buổi thực hành)</p>
								<p>- Học phí: 1.590.000 VND/Khóa học</p>
								<p>- Đăng ký nhóm từ 02-04 người: 990.000 VND/01 học viên</p>
								<p>- Đăng ký nhóm 05 người trở lên: 900.000 VND/01 học viên</p>
								
								<h4>2. Kỹ năng tư vấn Luật Sở hữu trí tuệ: Tư vấn Đăng ký bảo hộ các đối tượng sở hữu công nghiệp (logo, thương hiệu, sáng chế, kiểu dáng), Tư vấn Đăng ký bảo hộ Bản quyền tác giả.</h4>
								<p>- Cụ thể:</p>
								<div style="padding-left:20px;">
									<p class="sub-text">• Đào tạo về nhãn hiệu, thương hiệu, logo.</p>
									<p class="sub-text">• Đào tạo về sáng chế</p>
									<p class="sub-text">• Đào tạo về Kiểu dáng công nghiệp</p>
									<p class="sub-text">• Đào tạo về bản quyền tác giả</p>
								</div>
								<p>- Thời gian học: 3 buổi (02 buổi lý thuyết và 01 buổi thực hành)</p>
								<p>- Học phí: 1.590.000 VND/Khóa học</p>
								<p>- Đăng ký nhóm từ 02-04 người: 990.000 VND/01 học viên</p>
								<p>- Đăng ký nhóm 05 người trở lên: 900.000 VND/01 học viên</p>
								
							</div>
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>
		  <!-- Footer -->
		  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>