<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
		<% include header.ejs %><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Khóa học</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>Giới thiệu khóa học Tiếng Anh cho người muốn đi du lịch</h2>
							</div>
							
							<!-- embed media --
							<div class="single-post-image">
								<img src="img/blog/1.jpg" alt="Post Title">
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>30 JAN, 2013
							</div>
							-- end-embed media -->
							
							<div class="single-post-content single-post-style">
								<h4><em>Bạn mơ ước và đang lên kế hoạch cho 1 chuyến du lịch nước ngoài nhưng vẫn còn e ngại vì khả năng Tiếng Anh chưa tốt, sợ không giao tiếp được với người bản xứ? Tiếng Anh là một ngôn ngữ vô cùng phổ biến và được sử dụng tại hầu hết các sân bay. Cũng vì vậy mà nhiều người vô cùng ngại ngùng không dám du lịch nước ngoài vì vốn Tiếng Anh ít ỏi sẽ không đủ để giúp họ xoay sở tại sân bay.</em></h4>
								<h4><em>Học Tiếng Anh cấp tốc trước khi đi du lịch là một điều hết sức cần thiết bởi ngày càng có nhiều quốc gia sử dụng Tiếng Anh như một ngôn ngữ thứ hai. Khi đi du lịch nước ngoài, đôi lúc chúng ta sẽ gặp phải những trường hợp không mong muốn ví dụ như bạn cần phàn nàn về đồ ăn, khách sạn, các dịch vụ thuê xe và nếu bạn có bị lạc hay gặp phải tình huống bất trắc, một vốn Tiếng Anh vừa đủ có thể giúp bạn nhờ sự giúp đỡ từ phía người dân địa phương, hỏi đường, tìm khách sạn hoặc đơn giản là hỏi về những điểm vui chơi đặc sắc. Chúng tôi đã mở một khóa học về giao tiếp dành cho những người đang muốn trau dồi khả năng Tiếng Anh của mình với ý định du lịch, công tác, học tập;…</em></h4>
								
								<h4>1. Nội dung khóa học</h4>
								<p>- Nội dung cơ bản của khóa học chủ yếu là 2 kỹ năng nghe và nói.</p>
								<p>- Học viên sẽ được học toàn bộ bằng Tiếng Anh trong suốt quá trình học để tạo phản xạ và sự tự tin khi giao tiếp</p>
								<p>- Nội dung cụ thể</p>
								<div style="padding-left:20px;">
									<p class="sub-text">• Luyện phát âm, chuẩn hóa phát âm</p>
									<p class="sub-text">• Giới thiệu, chào hỏi, gặp gỡ mọi người</p>
									<p class="sub-text">• Giao tiếp tại sân bay, trên máy bay, xe bus, tàu hỏa, …</p>
									<p class="sub-text">• Giao tiếp tại nhà hàng, khách sạn, ăn uống, …</p>
									<p class="sub-text">• Mua vé, đặt phòng, đặt bàn, …</p>
									<p class="sub-text">• Hỏi đường, nhờ giúp đỡ</p>
									<p class="sub-text">• Mua sắm, đổi tiền</p>
								</div>
								<p>- Ngoài ra, học viên sẽ được chia sẻ những kinh nghiệm khi đi du lịch nước ngoài; cách xem lịch trình xe bus, tour du lịch; yêu cầu giúp đỡ khi mất giấy tờ; …</p>
								
								<h4>2. Mục tiêu</h4>
								<p>- Học viên sẽ giao tiếp được với người bản xứ trong các tình huống có thể xảy ra khi ở nước ngoài.</p>
								<p>- Đọc hiểu các hướng dẫn, lịch trình, menu, …</p>
								
								<h4>3. Đối tượng học</h4>
								<p>Các bạn sắp có chuyến du lịch nước ngoài, chuẩn bị tham gia chuyến công tác hoặc công ty chuyển đi học nghiệp vụ, dự hội nghị ngắn hạn ở nước ngoài và một số mục đích khác.</p>
								
								<h4>4. Đội ngũ giảng viên</h4>
								<p>E-consult tự hào với đội ngũ giảng viên chuyên môn cao và kinh nghiệm giảng dạy phong phú. Các giảng viên của chúng tôi đều có chứng chỉ quốc tế, nhiều người có bằng Tiếng Anh chuyên ngành Thạc sĩ hoặc cao hơn.Bằng tâm huyết và kinh nghiệm, các giảng viên không chỉ mang đến cho học viên những kiến thức, kĩ năng nâng cao trình độ Tiếng Anh mà còn truyền cảm hứng say mê, yêu thích, cảm thấy việc học Tiếng Anh rất dễ dàng.</p>
								
								<h4>5. Cách thức học</h4>
								<p>- Địa điểm: Tòa nhà Trần Gia, 81A Trần Quốc Toản, Hoàn Kiếm, Hà Nội</p>
								<p>- Tổng thời lượng: 3-5 buổi</p>
								<p>- Hình thức học: 1 thầy 1 trò hoặc 1 thầy dạy 3-4 học sinh</p>
								<p>- Học phí:  500.000 VNĐ – 2.000.000 VNĐ (Đã bao gồm giáo trình và tài liệu)</p>
								
							</div>
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>
		  <!-- Footer -->
		  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>(+84)  962538126</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>