<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
		<% include header.ejs %><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Khóa học</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>Khóa học tiếng Anh Pháp lý</h2>
							</div>
							
							<!-- embed media --
							<div class="single-post-image">
								<img src="img/blog/1.jpg" alt="Post Title">
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>30 JAN, 2013
							</div>
							-- end-embed media -->
							
							<div class="single-post-content single-post-style">
								<h4>1. Đối tượng học</h4>
								<p>- Những người đã tốt nghiệp Đại học Luật hoặc tương đương, hiện đang làm việc trong các doanh nghiệp, các công ty luật, các cơ quan tư pháp như phòng công chứng, văn phòng luật sư, các cơ quan nhà nước có nhu cầu sử dụng tiếng Anh pháp lý.</p>
								<p>- Sinh viên các hệ đào tạo, học viên cao học và các đối tượng khác có nhu cầu.</p>

								<h4>2. Đội ngũ giảng viên</h4>
								<p>- Các giảng viên tiếng Anh, Luật của trường được đào tạo chủ yếu ở nước ngoài có khả năng, kinh nghiệm và phương pháp giảng dạy tiếng Anh chuyên ngành Luật.</p>
								<p>- Các luật sư, chuyên gia pháp lý hiện đang công tác tại các văn phòng luật sư, công ty luật nước ngoài.</p>
								
								<h4>3. Nội dung học Khóa Tiếng Anh Pháp lý (Legal English)</h4>
								<p>- Các chuyên đề của Khóa học được thiết kế dưới dạng môn học nhằm trang bị cho học viên các kỹ năng tiếng Anh pháp lý là nghe, nói, đọc, viết.</p>
								<p>- Học viên sẽ được học và thực hành hoàn toàn bằng Tiếng Anh.</p>
								<p>- Nội dung chủ yếu:</p>
								<div style="padding-left:20px;">
									<p class="sub-text">• Contract law</p>
									<p class="sub-text">• Tort law</p>
									<p class="sub-text">• Criminal law</p>
									<p class="sub-text">• Company law</p>
									<p class="sub-text">• Commercial law</p>
									<p class="sub-text">• Real property</p>
									<p class="sub-text">• Litigation and arbitration</p>
									<p class="sub-text">• International law</p>
									<p class="sub-text">• Comparative law</p>
								</div>
								<p>- Chương trình sẽ dạy theo giáo trình để cấp chứng chỉ tiếng Anh pháp lý Quốc tế International Legal English (ILEC) của Đại học Cambridge (Anh).</p>
								<p>- Ở cấp độ trung cấp khóa học này, giáo trình sử dụng là International Legal English ở cấp độ trung cấp.</p>
								
								<h4>4. Mục tiêu của khóa học</h4>
								<p>- Học viên có kiến thức và kỹ năng tiếng Anh chuyên ngành pháp lý ở mức độ trung cấp (Intermediate).</p>
								<p>- Học viên sẽ:</p>
								<div style="padding-left:20px;">
									<p class="sub-text">• Có kiến thức về thuật ngữ tiếng Anh pháp lý.</p>
									<p class="sub-text">• Có kỹ năng trình độ trung cấp về nghe, nói, đọc, viết tiếng Anh pháp lý theo chuẩn quốc tế.</p>
									<p class="sub-text">• Có khả năng sử dụng tốt các kỹ năng tiếng Anh pháp lý và kỹ năng mềm đáp ứng các yêu cầu của công việc và ngành nghề như dịch thuật (căn bản), soạn thảo và rà soát hợp đồng, soạn thảo các tài liệu pháp lý tiếng Anh và các giao dịch pháp lý bằng tiếng Anh.</p>
								</div>
								
								<h4>5. Thời gian học, học phí</h4>
								<p>- Tổng thời lượng: 18 tuần (108 giờ)/khóa học.</p>
								<p>- Học vào các buổi tối thứ 2, 4, 6; học từ 18h00 đến 20h00 (không có giải lao).</p>
								<p>- Học phí: 6.000.000 đ/khóa.</p>
								<p>- Ưu đãi cho sinh viên Trường Đại học Luật Hà Nội, Khoa Luật – Đại Học Quốc Gia: giảm 10% học phí.</p>
								
								<h4>6. Điều kiện tham dự khóa học</h4>
								<p>Học viên sẽ tham dự bài kiểm tra tiếng Anh đầu vào 30 phút (miễn phí). Học viên nhận kết quả ĐẠT sẽ được học ngay Khóa tiếng Anh pháp lý.</p>
								<div style="padding-left:20px;">
									<p class="sub-text">• Những học viên có chứng chỉ TOEIC 400 hoặc tương đương theo bảng quy đổi dưới đây thì không phải dự kiểm tra trình độ tiếng Anh đầu vào và được học ngay Khóa tiếng Anh pháp lý</p>
									<table class="tCheckPoint">
										<tbody>
											<tr>
												<th>TOEIC</th>
												<th>TOEFL Paper</th>
												<th>TOEFL Cbt</th>
												<th>TOEFL Ibt</th>
												<th>IELTS</th>
											</tr>
											<tr>
												<td>405 - 600</td>
												<td>437 – 473<br>477 - 510</td>
												<td>123 – 150<br>153 - 180</td>
												<td>41 – 52<br>53 – 64</td>
												<td>4<br>4.5 – 5.0</td>
											</tr>
										</tbody>
									</table>
									<br>
									<p class="sub-text">• Những học viên còn lại sẽ được học khóa Tiền tiếng Anh pháp lý (học trong 12 tuần – 72 giờ học; học phí: 2.400.000 đ/khóa) trước khi vào học chính thức khóa tiếng Anh pháp lý. Khóa này nhằm trang bị và rèn luyện các kiến thức và kỹ năng tiếng Anh căn bản, cần thiết để đảm bảo khả năng tiếng Anh cho người học có thể theo học khóa tiếng Anh pháp lý.</p>
								</div>
								
							</div>
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>
		  <!-- Footer -->
		  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>(+84)  962538126</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>