<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
		<% include header.ejs %><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Khóa học</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>Khóa học tiếng Anh học thuật</h2>
							</div>
							
							<!-- embed media --
							<div class="single-post-image">
								<img src="img/blog/1.jpg" alt="Post Title">
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>30 JAN, 2013
							</div>
							-- end-embed media -->
							
							<div class="single-post-content single-post-style">
								<h4>Học viên sẽ được học cách:</h4>
								<p>• Tự tin tham gia thảo luận tiếng Anh trong lớp học, lớp học nhóm và trong các cuộc đàm thoại Tiếng Anh.</p>
								<p>• Nghe và ghi chú bài giảng để nhớ vào thảo luận các ý chính.</p>
								<p>• Xây dựng vốn từ vựng Tiếng Anh thường dùng trong trường đại học, công việc và đời sống hàng ngày.</p>
								<p>• Rèn luyện kỹ năng đọc tiếng Anh với các bài học thuật và sử dụng các nguồn tư liệu để phục vụ cho mục đích học tập.</p>
								<p>• Viết bài luận và báo cáo học thuật bằng Tiếng Anh theo chuẩn của đại học.</p>
								<p>• Tổ chức và lập kế hoạch để hoàn thành bài tập nhóm.</p>
								<p>• Thuyết trình hiệu quả, truyền đạt thông điệp một cách rõ ràng.</p>
								<p>• Tự học một cách độc lập và biết cách tận dụng nguồn tài liệu học tập tại trung tâm tự học.</p>
								
								<h4>1. Khóa học tiếng Anh học thuật –  The first step</h4>
								<p>- Trao đổi về các vấn đề của thế giới: địa lý, các thành phố và văn hóa, âm nhạc, sự đổi mới và giao thông</p>
								<p>- Thảo luận về cảm xúc, hy vọng và ước mơ</p>
								<p>- Đưa ra dự đoán</p>
								<p>- Trình bày ý kiến một cách rõ ràng, mạch lạc</p>
								<p>- Kỹ năng Đọc Học Thuật: đọc các đoạn văn ngắn trong báo, tạp chí và các tài liệu quảng cáo</p>
								<p>- Kỹ năng Viết Học Thuật: viết các đoạn văn trịnh trọng</p>
								<p>- Kỹ năng Nghe Học Thuật: nghe các hướng dẫn, chỉ dẫn</p>
								<p>- Mở rộng từ vựng: tạo sự gắn kết trong bài viết</p>
								<p>- Kỹ năng tự học: tự hiệu chỉnh bài viết</p>
								<p>- Phát âm: nhấn trọng âm và ngữ điệu trong các câu hỏi</p>
								
								<h4>2. Khóa học tiếng Anh học thuật – The Second step</h4>
								<p>- Trao đổi về đời sống và các sự kiện: tiệc, sự kiện thể thao, công nghệ và chuyên đề sức khỏe</p>
								<p>- Thảo luận về thức ăn và chế độ dinh dưỡng</p>
								<p>- Đưa ra yêu cầu</p>
								<p>- Trình bày dự định và các kế hoạch tương lai</p>
								<p>- Kỹ năng Đọc Học Thuật: phân biệt sự kiện thực tế và ý tưởng</p>
								<p>- Kỹ năng Viết Học Thuật: viết một email trịnh trọng</p>
								<p>- Kỹ năng Nghe Học Thuật: nghe lời khuyên</p>
								<p>- Mở rộng từ vựng: xác định danh từ đếm được và không đếm được</p>
								<p>- Kỹ năng tự học: quản lý thời gian</p>
								<p>- Phát âm: sử dụng ngữ điệu để thể hiện thái độ</p>
								
								<h4>3. Khóa học tiếng Anh học thuật – The Third step</h4>
								<p>- Trao đổi về con người: hạnh phúc, tạo cảm hứng, các quốc gia và thành phố, cuộc sống đa văn hóa và du lịch</p>
								<p>- Thảo luận về các sự kiện cá nhân quan trọng</p>
								<p>- Thể hiện sự không đồng tình một cách lịch sự</p>
								<p>- Kiểm tra và làm rõ thông tin</p>
								<p>- Kỹ năng Đọc Học Thuật: cấu trúc của các đoạn văn và bài báo cáo ngắn</p>
								<p>- Kỹ năng Viết Học Thuật: viết các đoạn miêu tả ngắn và tiểu sử</p>
								<p>- Kỹ năng Nghe Học Thuật: các bài nghe xác thực và có kịch bản</p>
								<p>- Mở rộng từ vựng: nhấn mạnh các luận điểm trong bài thuyết trình</p>
								<p>- Kỹ năng tự học: cách sử dụng tự điển</p>
								<p>- Phát âm: âm điệu và nhấn câu</p>
								<p>- Trao đổi về các vấn đề xã hội: thời trang, sản xuất, giáo dục và thành công</p>
								
								<h4>4. Khóa học tiếng Anh học thuật – The forth step</h4>
								<p>- Thảo luận về quy trình sản xuất</p>
								<p>- Đưa ra lời khen</p>
								<p>- Thể hiện sự đồng ý hoặc không đồng ý và đưa ra ý kiến cá nhân</p>
								<p>- Kỹ năng Đọc Học Thuật: đọc số liệu dùng trong nghiên cứu</p>
								<p>- Kỹ năng Viết Học Thuật: miêu tả một quá trình</p>
								<p>- Kỹ năng Nghe Học Thuật: hiểu nội dung đoạn độc thoại hoặc đối thoại</p>
								<p>- Mở rộng từ vựng: bài nói ngắn trong lớp</p>
								<p>- Kỹ năng tự học: các kiểu học</p>
								<p>- Phát âm: phát âm các cụm từ</p>
								
								<h4>5. Khóa học tiếng Anh học thuật – The fifth step</h4>
								<p>- Trao đổi về các vấn đề kinh tế: marketing, quảng cáo, thành tựu trong kinh doanh, khách hàng và truyền thông</p>
								<p>- Thảo luận về các thông tin thống kê và số liệu</p>
								<p>- Sắp xếp các cuộc hẹn</p>
								<p>- Khiếu nại</p>
								<p>- Kỹ năng Đọc Học Thuật: văn bản marketing và đồ thị</p>
								<p>- Kỹ năng Viết Học Thuật: soạn thảo bảng câu hỏi nghiên cứu thị trường</p>
								<p>- Kỹ năng Nghe Học Thuật: nghe bài giảng</p>
								<p>- Mở rộng từ vựng: ngôn ngữ dùng để thuyết phục người khác</p>
								<p>- Kỹ năng tự học: xác định mục tiêu học tập cá nhân</p>
								<p>- Phát âm: các đặc tính của bài nói có tính liên kết</p>
								
								<h4>6. Khóa học tiếng Anh học thuật – The sixth step</h4>
								<p>- Trao đổi về các vấn đề toàn cầu hóa: truyền thông, kinh tế, sản xuất, các vấn đề môi trường và thể thao quốc tế</p>
								<p>- Thảo luận về truyền thông</p>
								<p>- Tham gia tranh luận</p>
								<p>- Đàm phán sử dụng ngôn ngữ có tính thuyết phục</p>
								<p>- Kỹ năng Đọc Học Thuật: theo dõi vấn đề</p>
								<p>- Kỹ năng Viết Học Thuật: tránh đạo văn</p>
								<p>- Kỹ năng Nghe Học Thuật: tin tức trên radio và các cuộc phỏng vấn</p>
								<p>- Mở rộng từ vựng: ẩn dụ và thành ngữ</p>
								<p>- Kỹ năng tự học: tự đánh giá quá trình học</p>
								<p>- Phát âm: ý nghĩa thông qua ngữ điệu</p>
								
							</div>
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>
		  <!-- Footer -->
		  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>(+84)  962538126</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>