<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
		<% include header.ejs %><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Khóa học</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>KHÓA ĐÀO TẠO NGẮN HẠN VỀ PHÁP LUẬT TẠI ECONSULT</h2>
							</div>

							<!-- embed
							<div class="single-post-image">
								<img src="img/blog/1.jpg" alt="Post Title">
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>30 JAN, 2013
							</div>
							end-embed -->
							
							<div class="single-post-content">
								<div class="row" style="padding-top:20px; background-color:aliceblue;">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<h3>LỚP</h3>	        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<h3>THỜI GIAN</h3>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<h3>MỤC TIÊU & NỘI DUNG KHÓA HỌC</h3>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<p>Pháp luật về quản lý hợp đồng</p>	        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>4 buổi</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>- Những vấn đề chung về hợp đồng, </p>
											<p>- Tổng quát về hợp đồng thương mại và pháp luật về hợp đồng thương mại.</p>
											<p>- Vai trò, nghĩa vụ và trách nhiệm của các bên trong hợp đồng thương mại.</p>
											<p>- Quản lý các kiểu hợp đồng khác nhau (Phân tích một số điểm cần lưu ý trong mỗi hợp đồng cụ thể thông qua một số mẫu hợp đồng đặc trưng trong kinh doanh thương mại).</p>
											<p>- Kỹ năng soạn thảo các hợp đồng trong kinh doanh, thương mại.</p>
											<p>- Xác định các vi phạm hợp đồng thương mại và có phương án giải quyết hiệu quả hành vi vi phạm hợp đồng, giải quyết tranh chấp trong kinh doanh thương mại.</p>
										</div>
									</div>
								</div>
								<div class="row" style="padding-top:20px; background-color:aliceblue;">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<p>Kỹ năng đàm phán và soạn thảo hợp đồng thương mại</p>	        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>4 buổi</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>- Tổng quát về hợp đồng thương mại và pháp luật về hợp đồng thương mại.</p>
											<p>- Khái quát các kỹ năng cần có khi đàm phán và soạn thảo hợp đồng trong kinh doanh thương mại</p>
											<p>- Các nguyên tắc, hình thức, các giai đoạn của đàm phán hợp đồng. </p>
											<p>- Kỹ năng  đàm phán, giải quyết  tranh chấp trong quan hệ hợp đồng thương mại.</p>
											<p>- Kỹ năng soạn thảo các hợp đồng trong kinh doanh, thương mại.</p>
											<p>- Phân tích một số mẫu hợp đồng đặc trưng trong kinh doanh thương mại và những điểm cần lưu ý trong mỗi loại hợp đồng cụ thể.</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<p>Kỹ năng soạn thảo văn bản hành chính</p>		        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>4 buổi</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>- Những kiến thức cơ bản về công tác soạn thảo văn bản quản lý  như Quyết định, Chỉ thị, Nghị Quyết, Công văn, Tờ trình, Biên bản, Thông báo, Báo cáo, Kế hoạch, Nội quy, Quy chế, Điều lệ và các văn bản hành chính thông dụng khác, được sử dụng thường xuyên trong quá trình làm việc tại các cơ quan, tổ chức, doanh nghiệp…</p>
											<p>- Kỹ năng soạn thảo các văn bản hành chính, góp phần nâng cao hiệu quả công việc, tính chuyên nghiệp trong công tác tại các cơ quan, tổ chức, doanh nghiệp…</p>
										</div>
									</div>
								</div>
								<h4>EConsult thiết kế chương trình học riêng với tài liệu độc quyền đáp ứng yêu cầu của từng cá nhân tổ chức.</h4>
								<h4>Liên hệ khóa học hoặc mua tài liệu tự nghiên cứu:</h4>
								<h4>Mr Dương Minh Tùng – Phó phòng Nhân sự Đào Tạo</h4>
								<p>Human & Training Dept</p>
								<p>Cellphone: 0966801656</p>
								<h4>Giờ làm việc của Econsult – VP Hà Nội</h4>
								<p>- Thứ hai đến thứ sáu: 8h-17h</p>
								<p>- Thứ bảy: 8h-12h</p>
								
							</div>
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>
		  <!-- Footer -->
		  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>