<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
		<% include header.ejs %><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Khóa học</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>Khóa học kỹ năng thuyết trình bằng Tiếng Anh (PRESENTATION SKILLS in ENGLISH)</h2>
							</div>

							<!-- embed
							<div class="single-post-image">
								<img src="img/blog/1.jpg" alt="Post Title">
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>30 JAN, 2013
							</div>
							end-embed -->
							
							<div class="single-post-content">
								<h4>Nội dung học và Mục tiêu khoá học (objectives)</h4>
								<p>Trang bị những kỹ năng cần thiết, cơ bản cho các bạn muốn có kỹ năng thuyết trình chuyên nghiệp, phong cách, hiệu quả bằng tiếng Anh (sinh viên, người đi làm) liên quan đến Giao tiếp, tổ chức sự kiện, hội thảo, phiên dịch...</p>	
								<div class="row" style="padding-top:20px; background-color:aliceblue;">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<h3>PRESENTATION IN ENGLISH</h3>	        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<h3>Buổi</h3>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<h3>Mục tiêu bài học</h3>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<p>- Lý thuyết về kỹ năng thuyết trình</p>
											<p>- Thực hành soạn thảo bài thuyết trình trên PPT</p>		        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>4 buổi</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>Giúp người học nắm được khái niệm cơ bản về thuyết trình và soạn được một bài thuyết trình bằng PPT.</p>
											<p>Biết cách đánh giá/soạn một bài thuyết trình đạt tiêu chuẩn/hiệu quả</p>
										</div>
									</div>
								</div>
								<div class="row" style="padding-top:20px; background-color:aliceblue;">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<p>- Luyện âm đọc, nói</p>	        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>2 buổi</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>Giúp người học luyện lại cách phát âm, đọc, nói tiếng Anh trôi chảy, tự tin trong giao tiếp.</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<p>- Phần I: Oral presentation and commented by teachers</p>		        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>4 buổi</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>Giúp người học tự tin nói bằng tiếng Anh trước đám đông, có phản biện; chưa sử dụng PPT vội để luyện tập cách nói tự tin.</p>
										</div>
									</div>
								</div>
								<div class="row" style="padding-top:20px; background-color:aliceblue;">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<p>- Phần II: Power-point based presentation, commented by teacher</p>	        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>4 buổi</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>Giúp người học vừa thao tác trên PPT vừa tự tin trình bày 1 bài present, có cả phản biện/ sửa lỗi.</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-sm-6">
										<div class="service-wrapper">
											<p>- Kết thúc chương trình học</p>		        		
										</div>
									</div>
									<div class="col-md-2 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>1 buổi</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="service-wrapper txtLeft">
											<p>Tổng kết và khắc phục những điểm yếu của học viên. Trao chứng nhận, học bổng. Chụp ảnh kỷ niệm, liên hoan nhẹ.</p>
										</div>
									</div>
								</div>
								
								<h4>Đối tượng tham dự khoá học (Participants)</h4>
								<p>- Sinh viên và những người có trình độ tiếng Anh B trở lên, khả năng giao tiếp bằng tiếng Anh khá.</p>
								<p>- Đây là khóa học định hướng cho khóa phiên dịch và là nền tảng bắt buộc chokhóa phiên dịch vì khi thực hiện phiên dịch, người phiên dịch phải làm “Thuyết trình” cho người khán/thính giả khi thực hiện phiên dịch.</p>
								<p>- Làm công việc phiên dịch, hướng dẫn viên nhưng chưa qua đào tạo bài bản, hệ thống, thực hành về Thuyết trình thực tế.</p>
								<p>- Những ai mong muốn và/hoặc chuẩn bị làm việc liên quan đến Thuyết trình và/hoặc công tác phiên dịch cho cơ quan, tổ chức của mình.</p>
								<p>- Những ai mong muốn nâng cao kỹ năng Thuyết trình bằng tiếng Anh của mình trước công chúng.</p>
								
								<h4>Phương pháp giảng dạy (Methodology)</h4>
								<p>- Thực hành sâu, kết hợp giảng lý thuyết song song, lấy kết quả thực hành để giảng lý thuyết và ứng dụng tức.</p>
								<p>- Bài giảng lấy thực hành làm chủ đạo, được lồng ghép các tình huống thực tế.</p>
								<p>- Thực hành các kỹ năng, kỹ thuật qua các bài tập tình huống (thuyết trình).</p>
								<p>- Làm việc nhóm, thảo luận, chia sẻ kinh nghiệm theo từng tình huống và nội dung học.</p>
								<p>- Cung cấp tài liệu tham khảo trước và sau khóa học.</p>
								
								<h4>Thời gian học (Schedule)</h4>
								<p>- Gồm 15 buổi học, mỗi buổi học 02 tiếng, mỗi tuần học 02 buổi.</p>
								
							</div>
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>
		  <!-- Footer -->
		  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>