<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
		<% include header.ejs %><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Khóa học</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>Khóa học Tiếng Anh Giao tiếp Kinh doanh</h2>
							</div>
							
							<!-- embed media --
							<div class="single-post-image">
								<img src="img/blog/1.jpg" alt="Post Title">
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i>30 JAN, 2013
							</div>
							-- end-embed media -->
							
							<div class="single-post-content single-post-style">
								<p>Được thiết kế đặc biệt tập trung vào các kỹ năng, các tình huống giao tiếp trong kinh doanh giúp học viên sử dụng tiếng Anh thương mại chính xác, hiệu quả và thăng tiến trong công việc.</p>
								<p>Giáo viên nước ngoài giàu kinh nghiệm sống, có chứng chỉ quốc tế về giảng dạy Tiếng Anh và nhiều năm kinh nghiệm trong giảng dạy tiếng Anh chuyên ngành, anh văn thương mại ở nhiều lĩnh vực cho các doanh nghiệp Việt Nam cũng như các công ty, tập đoàn đa quốc gia.</p>
								
								<h4>Nội dung khóa học</h4>
								<p>Khóa học Tiếng Anh Giao tiếp Kinh doanh trong môi trường thương mại được xây dựng nhằm phát triển các kỹ năng anh văn cần thiết cho công việc: Kỹ năng đọc và xử lý văn bản, báo cáo, đàm phán, thuyết trình, viết email...</p>
								<div style="padding-left:20px;">
									<p class="sub-text">• Kỹ năng thực hành đối thoại, thảo luận và tranh luận, phát âm chuẩn, sử dụng ngôn ngữ một cách phong phú</p>
									<p class="sub-text">• Kỹ năng nghe hiểu thông tin cụ thể, hiểu và suy luận được thái độ, tình cảm, ý kiến…</p>
									<p class="sub-text">• Kỹ năng giao tiếp chuyên nghiệp, sử dụng ngôn từ đúng với ngữ cảnh, biết cách truyền đạt ý kiến một cách sắc sảo, linh hoạt.</p>
									<p class="sub-text">• Luôn tạo ra cơ hội thảo luận</p>
								</div>
								
							</div>
						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
	    </div>
		  <!-- Footer -->
		  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>(+84)  962538126</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>