	    <!-- Footer -->
	    <div class="footer">
                <div class="container">
                
                    <div class="row">
                    
                        <div class="col-footer col-md-4 col-xs-6">
                            <h3>Liên hệ với chúng tôi qua</h3>
                            <p class="contact-us-details">
                                <b>Address:</b> 81A Trần Quốc Toản, Trần Hưng Đạo, Q. Hoàn Kiếm, Hà Nội.<br/>
                                <b>Phone:</b> (+84) 989633596 <br/>
                                <b>Fax:</b> (+84-24) 3941 2991<br/>
                                <b>Email:</b> <a href="mailto:info@yourcompanydomain.com"> EConsult.Hotrodichvu@gmail.com hoặc Luatsu.EConsult@gmail.com</a>
                            </p>
                        </div>				
                        <div class="col-footer col-md-4 col-xs-6">
                            <h3>Liên hệ qua mạng xã hội trực tuyến</h3>
                            <p>Liên lạc với chúng tôi qua facebook hoặc email.</p>
                            <div>
                                <img src="/img/icons/facebook.png" width="32" alt="Facebook">
                                <img src="/img/icons/twitter.png" width="32" alt="Twitter">
                                <img src="/img/icons/linkedin.png" width="32" alt="LinkedIn">
                                <img src="/img/icons/rss.png" width="32" alt="RSS Feed">
                            </div>
                        </div>
                        <div class="col-footer col-md-4 col-xs-6">
                            <div id="fb-root"></div>
                                <script>(function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10";
                                        fjs.parentNode.insertBefore(js, fjs);
                                        }(document, 'script', 'facebook-jssdk'));</script>
                                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcongtyluateconsult%2F&tabs=timeline&width=300&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
    
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-copyright">&copy; 2017 <a>NAT-Cor</a>.</div>
                        </div>
                    </div>
                </div>
            </div>