     <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
        <header background-color="#BBDEFB" class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" >
                            <form id="myForm" action="index" method="get"> 
                                    <button style="border: none;background-color: transparent;margin-top: 12%" type="submit" >
                                         <img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul">
                                    </button>
                            </form>            
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a>
                                <form id="myForm" action="index" method="get"> 
                                        <button style="border: none;background-color: transparent;margin-top: 0%" type="submit" >Trang chủ</button>
                                </form>
                            </a>
                        </li>
                        <li><a>
                                <form id="myForm" action="aboutUs" method="get"> 
                                        <button style="border: none;background-color: transparent;" type="submit" >Giới thiệu</button>
                                </form>
                            </a>
                        </li>
                        <li class="dropdown">  
                             <a style="">                      
                            <form id="myForm" action="getNewsTotal" method="get"> 
                                <button style="border: none;background-color: transparent;" type="submit" >Bài viết - tin tức<i class="icon-angle-down"></i></button>
                            </form>
                        </a>
                            <ul class="dropdown-menu">
                                <!--href="danh-sach-tin-tuc.html"
                                     <a href="tin-tuc-bao-chi.html" > Bài viết - tin tức<i class="icon-angle-down"></i></a>
                                <li><a href="danh-sach-tin-tuc.html">Thông báo</a></li>
                                <li><a href="danh-sach-tin-tuc.html">Sự kiện</a></li>
                                -->
                                <li>
                                    <a>
                                        <form id="myForm" action="newestNewsPost" method="get"> 
                                            <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Các bài viết và báo chí</button>
                                        </form>
                                    </a>
                                </li>    
                                <li>
                                        <a>
                                            <form id="myForm" action="newestNewsNotice" method="get"> 
                                                <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Thông báo</button>
                                            </form>
                                        </a>
                                    </li>  
                                    <li>
                                        <a>   
                                            <form id="myForm" action="newestNewsEvent" method="get"> 
                                                <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Sự kiện</button>
                                            </form>
                                        </a> 
                                    </li>      
                                <li class="divider"></li>
                                <li>EConsult</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dịch vụ <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li border="1px">
                                    <a>                                      
                                        <form id="myForm" action="priceTable" method="get"> 
                                            <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Bảng giá dịch thuật</button>
                                        </form>
                                    </a>  
                                </li>
                                <li>
                                    <a>                                        
                                        <form id="myForm" action="shareServices" method="get"> 
                                                <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Dịch vụ chung</button>
                                        </form>
                                    </a>
                                </li>                        
                                <li><a>                                    
                                    <form id="myForm" action="shareServicesTrans" method="get"> 
                                            <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Dịch vụ dịch thuật công chứng</button>
                                    </form>
                                </a></li>                                
                                <li><a>                                    
                                    <form id="myForm" action="shareServicesFinaceCor" method="get"> 
                                            <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Dịch vụ tư vấn doanh nghiệp</button>
                                    </form>
                                </a></li>                                
                                <li><a>                                    
                                    <form id="myForm" action="shareServicesFamily" method="get"> 
                                            <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Dịch vụ tư vấn hôn nhân và gia đình</button>
                                    </form>
                                </a></li>
                                <li><a>
                                        <form id="myForm" action="shareServicesFinaceBanking" method="get"> 
                                                <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Dịch vụ tư vấn tài chính ngân hàng</button>
                                        </form>
                                </a></li>                                
                                <li><a>
                                        <form id="myForm" action="shareServicesTax" method="get"> 
                                                <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Dịch vụ tư vấn thuế</button>
                                        </form>
                                    
                                </a></li>
                                <li><a>                                    
                                    <form id="myForm" action="shareServicesSupport" method="get"> 
                                            <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Dịch vụ tư vấn</button>
                                    </form>
                                </a></li>
                                <li class="divider"></li>
                                <li>EConsult</li>
                            </ul>
                        </li>
                        <li><a>                            
                            <form id="myForm" action="course" method="get"> 
                                    <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Khóa học</button>
                            </form>
                        </a></li>
                        
                        <li><a>                            
                            <form id="myForm" action="hireEmp" method="get"> 
                                    <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Tuyển dụng</button>
                            </form>
                        </a></li>
                        <li><a>                            
                            <form id="myForm" action="contactUs" method="get"> 
                                    <button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Liên hệ</button>
                            </form>
                        </a></li>
                               <li class="dropdown" >
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Đăng nhập</b> <span class="caret"></span></a>
                            <ul  id="login-dp" class="dropdown-menu" style="width:300px; border: 2px solid #a1a1a1;border-radius: 15px;">
                                <li style="height:150%;width:100%">
                                        
                                        <p align="center"><img src="img/logo-econsult.png" style="width:84px;height:84px;" alt="econsul"></p>
                                     <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav" style="height:100%;width:100%">
                                            <div class="form-group" style="height:150%">
                                                <p> <label >Tài Khoản</label>
                                                 <input type="text" class="form-control" id="aName" name="aName" placeholder="Tài Khoản" required></p>
                                            </div>
                                            <div class="form-group">
                                                 <label >Mật khẩu</label>
                                                 <input type="password" class="form-control" id="aPass" name="aPass" placeholder="Mật khẩu" required>                                          
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="btn btn-primary btn-lg">Đăng nhập</button>
                                            </div>
                                            
                                        </form>
                                    
                                </li>
                            </ul>
                        </li
                    </ul>
                </div>
            </div>
        </header><!--/header-->