 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	


    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
<header background-color="#BBDEFB" class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Trang chủ</a></li>
                    <li><a href="about-us.html">Giới thiệu</a></li>
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dịch vụ <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li border="1px"><a href="document-able/econsult_bangigadichthuat.pdf"target="_blank">Bảng giá dịch thuật</a></li>
                            <li><a href="shareService.html">Dịch vụ chung</a></li>
                            <li><a href="shareService_dichthuat.html">Dịch vụ dịch thuật công chứng</a></li>
                            <li><a href="shareService_doangnghiep_thuongmai.html">Dịch vụ tư vấn doanh nghiệp</a></li>
                            <li><a href="shareService_honnhan_giadinh.html">Dịch vụ tư vấn hôn nhân và gia đình</a></li>
                            <li><a href="shareService_finace_banking.html">Dịch vụ tư vấn tài chính ngân hàng</a></li>
                            <li><a href="shareService_tax.html">Dịch vụ tư vấn thuế</a></li>
                            <li><a href="shareService_tuvan.html">Dịch vụ tư vấn</a></li>
                            <li class="divider"></li>
                            <li>EConsult</li>
                        </ul>
                    </li>
					<li class="dropdown " >
                        <a href="#" class="" >Khóa học<i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tiếng Anh chuyên ngành</a></li>
                            <li><a href="#">Kỹ năng ngành luật</a></li>
                            <li><a href="#">Kỹ năng cá nhân</a></li>
                            <li class="divider"></li>
                            <li>EConsult</li>
                        </ul>
                    </li>
					<li class="dropdown">
                        <a href="blog.html" > Bài viết - tin tức<i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Các bài viết và báo chí</a></li>
                            <li><a href="#">Thông báo</a></li>
                            <li><a href="#">Sự kiện</a></li>
                            <li class="divider"></li>
                            <li>EConsult</li>
                        </ul>
                    </li>
                    <li><a href="portfolio.html">Tuyển dụng</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                    <li><a href="contact-us.html">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
    </header><!--/header-->