<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website Econsult Viet Nam">
	<meta name="author" content="NAT Cor.">
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />
    <title>Công ty luật EConsult</title>

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
	<% include header.ejs %>
	
    <section id="main-slider" class="no-margin" style="margin-top: 11%">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(/img/slides/ec1.png)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <!-- <h2 class="animation animated-item-1">Welcome to <font color="#8BC34A">EConsult</font></h2>
                                    <p class="animation animated-item-2"><font face="Helvetica" color="#29B6F6">Legal Consult and Skills Development</font> </p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(/img/slides/ec2.JPG)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <!-- <h2 class="animation animated-item-1"><strong>Passion</strong></h2>
                                    <p class="animation animated-item-2"><font face="Helvetica" color="#29B6F6">All human actions have one or more of these seven causes: chance, nature, compulsions, habit, reason, passion, desire.</font> </p>
                                    <br>
                                    <a class="btn btn-md animation animated-item-3" href="#">Learn More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(/img/slides/ec3.png)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <!-- <h2 class="animation animated-item-1">Solution</h2>
                                    <p class="animation animated-item-2"><font face="Helvetica" color="#29B6F6">A person who sees a problem is a human being; a person who finds a solution is visionary; and the person who goes out and does something about it is an entrepreneur.</font></p>
                                    <br>
									<a class="btn btn-md animation animated-item-3" href="#">Learn More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

	
		<!-- Call to Action Bar -->
	    <div class="section noPadding" style="background-color:#BBDEFB">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="calltoaction-wrapper">
							<h3>Welcome to <span style="color:#4CAF50; text-transform:uppercase;font-size:24px;">EConsult!</span> Feel free to contact us!</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Call to Action Bar -->

		<!-- Services -->
        <div class="section section-white paddingTop10px">
		
		<!--<div style = "text-align: center;vertical-align: middle;font-size:180%"><strong>DỊCH VỤ</strong></div>-->
	        <div class="container">
	        	<div class="row">
				<div class="section-title">
				<h1>Dịch vụ</h1>
				</div>
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
		        			<i></i>
		        		
		        			
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-briefcase i-service" style="color: #4CAF50"></i>
		        			<h3 style="font-size: 1.6em;">Khóa học</h3>
		        			<h4>EConsult là công ty Tư vấn Luật và đào tạo kỹ năng chuyên ngành Luật (tiếng Anh chuyên ngành và kỹ năng mềm).
							Sự kết hợp này là thế mạnh và ưu điểm nổi bật mà rất hiếm đơn vị nào có được...</h4>
		        			<a class="btn">								
								<form id="myForm" action="course" method="get"> 
                                        <button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" >Tìm hiểu thêm</button>
                                </form>
							</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-calendar i-service"></i>
		        			<h3 style="font-size: 1.6em;">Các dịch vụ tư vấn</h3>
		        			<h4>Tư vấn Di trú,Tư vấn Doanh nghiệp,Tư vấn Tài chính & Tín dụng,
							Tư vấn Kế toán - Thuế,Tư vấn đầu tư,tranh tụng và Giải quyết Tranh chấp,Tư vấn Hôn nhân & Gia đình...
							</h4>
		        			<a class="btn">
									<form id="myForm" action="shareServices" method="get"> 
											<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" >Tìm hiểu thêm</button>
									</form>
							</a>
		        		</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <!-- End Services -->


<hr>

		<!-- Our Portfolio -->	

        <div class="section section-white">
	        <div class="container">
	        	<div class="row">
	
				<div class="section-title">
				<h1>Các hoạt động gần đây</h1>
				</div>
		
		
			<ul class="grid cs-style-3">
	        	<div class="col-md-4 col-sm-6">
					<figure>
						<img style="height: 175px;	width: 280px;" src="/img/portfolio/cor.jpg" alt="/img04">
						<figcaption>
							<h3>tư vấn doanh nghiệp</h3>
							<span>Econsult</span>
							<a>
									<form id="myForm" action="shareServicesFinaceCor" method="get"> 
                                            <button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" >Xem qua</button>
                                    </form>	
							</a>
						</figcaption>
					</figure>
	        	</div>	
				<div class="col-md-4 col-sm-6">
					<figure>
						<img style="height: 175px;	width: 280px;" src="/img/portfolio/course.jpg" alt="/img01">
						<figcaption>
							<h3>Khóa học</h3>
							<span>Econsult</span>
							<a>
									<form id="myForm" action="course" method="get"> 
											<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" >Xem qua</button>
									</form>
							</a>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6">
					<figure>
						<img style="height: 175px;	width: 280px;" src="/img/portfolio/newEvent.JPG" alt="/img02">
						<figcaption>
							<h3>Bài viết - tin tức</h3>
							<span>Econsult</span>
							<a>
									<form id="myForm" action="getNewsTotal" method="get"> 
											<button style="border: none;background-color: transparent;height: 100%;width: 100%" type="submit" >Xem qua</button>
										</form>
							</a>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6">
					<figure>
						<img style="height: 175px;	width: 280px;" src="/img/portfolio/hire.jpg" alt="/img05">
						<figcaption>
							<h3>tuyển dụng</h3>
							<span>Econsult</span>
							<a>								
								<form id="myForm" action="hireEmp" method="get"> 
										<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" >Xem qua</button>
								</form>
							</a>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6">
					<figure>
						<img style="height: 175px;	width: 280px;" src="/img/portfolio/contact_11.JPG" alt="/img03">
						<figcaption>
							<h3>Liên hệ</h3>
							<span>Econsult</span>
							<a>
									<form id="myForm" action="contactUs" method="get"> 
											<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" >Xem qua</button>
									</form>
							</a>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6">
					<figure>
						<img  style="height: 175px;	width: 280px;" src="/img/portfolio/event_1.jpg" alt="/img06">
						<figcaption>
							<h3>Sự kiện</h3>
							<span>Econsult</span>
							<a>
									<form id="myForm" action="newestNewsEvent" method="get"> 
											<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" >Xem qua</button>
									</form>
							</a>
						</figcaption>
					</figure>
				</div>
			</ul>
	        	</div>
	        </div>
	    </div>
		<!-- Our Portfolio -->
			
<hr>

		<!-- Our Clients -->
	    <div class="section">
	    	<div class="container">
			
				<div class="section-title">
				<h1>Đối tác</h1>
				</div>

				<div class="clients-logo-wrapper text-center row">
						  
					<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.hlu.edu.vn/"><img src="/img/logos/hlu_logo.png" alt="Client Name"></a></div>
					<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.hanu.edu.vn"><img src="/img/logos/hnu_logo.jpg" alt="Client Name"></a></div>
					<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.neu.edu.vn"><img src="/img/logos/neu_logo.jpg" alt="Client Name"></a></div>
					<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.vnu.edu.vn/"><img src="/img/logos/VNU_logo.jpg" alt="Client Name"></a></div>
					<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="http://www.hnue.edu.vn"><img src="/img/logos/hneu_logo.jpg" alt="Client Name"></a></div>
					<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="https://www.univ-paris5.fr/"><img src="/img/logos/p5.png" alt="Client Name"></a></div>
					<div class="col-lg-10p col-md-2 col-sm-3 col-xs-6"><a href="https://university.parisnanterre.fr/"><img src="/img/logos/p10.jpg" alt="Client Name"></a></div>
					
				</div>
			</div>
	    </div>
	    <!-- End Our Clients -->
		<!-- Footer -->
		<% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>(+84)  962538126</p></font></strong> </Button></div>
		
        

    </body>
	
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">
    <link href="/css/custom.css" rel="stylesheet">
	


    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/icomoon-social.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	
	<script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="/js/jquery.easing.min.js"></script>
		<script src="/js/scrolling-nav.js"></script>	
</html>
