<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>
	<!-- Page Title -->
	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Khóa học</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-no-padding">
		<div class="container">
			<!-- Blog Post -->
			<div class="col-sm-8">
				<div class="blog-post blog-single-post">
					<div class="single-post-title center">
						<h3><em>E-CONSULT: NƠI PHÁT TRIỂN TIẾNG ANH CHUYÊN NGÀNH</em></h3>
						<h3><em>VÀ PHÁT TRIỂN BẢN THÂN CỦA BẠN</em></h3>
					</div>						
					<div class="single-post-content">
						<p>
							E-Consult là công ty Luật kết hợp đào tạo tiếng Anh chuyên ngành. Sự kết hợp này là thế mạnh và ưu
							điểm nổi bật mà rất hiếm đơn vị nào có được. Bởi đội ngũ luật sư của chúng tôi không chỉ giỏi về
							chuyên môn mà còn rất giỏi ngoại ngữ (tiếng Anh, tiếng Pháp). Do vậy E-Consult xác định sứ mệnh to
							lớn của mình là cần phải tạo môi trường học tập, thực hành, đào tạo các thế hệ tương lai của đất
							nước. Đặc biệt trong thời đại toàn cầu hóa, đội ngũ lao động trình độ cao nhất thiết phải vừa giỏi
							chuyên môn vừa tự tin giao tiếp tiếng Anh.
						</p>
						<p>
							Với khát vọng mang đến những kiến thức giá trị, giúp cải thiện các kỹ năng - một trong những yếu tố
							quan trọng ảnh hưởng đến sự thành công của mỗi cá nhân và tổ chức. Với mong muốn lấy hiệu quả
							làm thước đo, cùng với mục tiêu đưa kiến thức và kỹ năng đúng nhu cầu – đủ trọng tâm – đảm bảo
							kết quả, E-Consult quan niệm rằng đào tạo không đơn thuần gói gọn trong một bài học mà là một
							quá trình hoàn chỉnh, thống nhất từ lúc tìm hiểu nhu cầu đào tạo riêng biệt của mỗi cá nhân, tổ
							chức, đến việc chọn lọc các yếu tố, phương pháp phù hợp và hiệu quả nhất, được áp dụng thông qua
							quá trình tiếp xúc và đào tạo. Cuối cùng là chăm sóc, hỗ trợ sau đào tạo giúp cho các học viên tham
							gia với chúng tôi có được sự thay đổi thật sự và ứng dụng thành công những giá trị đã học được.
						</p>
						<p>
							Bên cạnh đó, E-Consult với những chuyên gia tâm huyết đã luôn nỗ lực hết mình để mang đến
							những chương trình đào tạo, những khóa học chất lượng cao và khác biệt, chú trọng và nhấn mạnh
							tính thực hành và ứng dụng. Mỗi một chương trình đều gắn kết thực tế giúp học viên áp dụng ngay
							những kiến thức đã học vào giải quyết thành công những vấn đề hiện tại của cá nhân, tập thể.
						</p>
						<p>
							Trong quá trình hoạt động, E-Consult chú trọng không ngừng phát triển, nâng tầm các chương trình
							huấn luyện vào thực tế của đối tượng tham gia, khơi gợi đúng vấn đề, đáp ứng chính xác những nhu
							cầu về tăng cường kỹ năng, xây dựng đội ngũ vững mạnh cho cả cá nhân và tổ chức. Thành quả của
							những nổ lực không ngừng nghỉ đã được hồi đáp bằng những lời khen ngợi, niềm tin yêu và sự gắn
							bó lâu dài của Quý khách hàng dành cho E-Consult. Đây thật sự là một nguồn động viên vô giá giúp
							chúng tôi vững vàng để hoàn thiện và phát triển hơn, đóng góp được nhiều hơn nữa những tri thức
							về kỹ năng cho xã hội.
						</p>
						<p>
							Đến với E-Consult, bạn không chỉ nhận được những giá trị thiết thực từ những khóa học mà bạn còn
							được chia sẻ kinh nghiệm thực tế từ những chuyên gia hàng đầu Việt Nam. Từ đó bạn có thể khám
							phá, phát triển và hoàn thiện bản thân, xác định được mục tiêu, kế hoạch và định hướng tương lai.
						</p>
					</div>
				</div>
			</div>
			<!-- End Blog Post -->
			<!-- curren posts -->
			<div class="col-sm-3 mT20px">
				<h3>Khóa học nổi bật</h3>
			</div>
			<div class="col-sm-6 w25p">
				<div class="blog-post blog-current-post">
					<div class="single-post-title">
						<h4>Bài viết liên quan 1</h4>
					</div>
					<div class="single-post-image">
						<a href="chi-tiet-bai-viet.html" title="Read more">
							<img src="img/blog/2.jpg" alt="Post Title">
						</a>
					</div>
					<div class="current-post-info">
						<i class="glyphicon glyphicon-time"></i>15 OCT, 2014
					</div>
				</div>
			</div>
			<div class="col-sm-6 w25p">
				<div class="blog-post blog-current-post">
					<div class="single-post-title">
						<h4>Bài viết liên quan 2</h4>
					</div>
					<div class="single-post-image">
						<a href="chi-tiet-bai-viet.html" title="Read more">
							<img src="img/blog/2.jpg" alt="Post Title">
						</a>
					</div>
					<div class="current-post-info">
						<i class="glyphicon glyphicon-time"></i>15 OCT, 2014
					</div>
				</div>
			</div>
			<div class="col-sm-6 w25p">
				<div class="blog-post blog-current-post">
					<div class="single-post-title">
						<h4>Bài viết liên quan 3</h4>
					</div>
					<div class="single-post-image">
						<a href="chi-tiet-bai-viet.html" title="Read more">
							<img src="img/blog/2.jpg" alt="Post Title">
						</a>
					</div>
					<div class="current-post-info">
						<i class="glyphicon glyphicon-time"></i>15 OCT, 2014
					</div>
				</div>
			</div>
			<!-- end-curren posts -->
		</div>
	</div>

	<hr>

	<div class="section section-no-padding">
		<div class="container">
			<div class="row">
				<!-- Featured News -->
				<div class="col-sm-9 featured-news">
					<h3>Kỹ năng ngành luật</h3>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/1.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Khóa học kỹ năng tư vấn ngành luật </a></div>
							<div class="date">17 Nov 2016 </div>
							<div class="intro">An ambitious program aiming to churn out an English-savvy workforce is way behind its 2020 deadline and falling short of projected targets. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<hr>
					<h3>Kỹ năng cá nhân</h3>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/1.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Khóa họa kỹ năng cá nhân </a></div>
							<div class="date">17 Nov 2016 </div>
							<div class="intro">An ambitious program aiming to churn out an English-savvy workforce is way behind its 2020 deadline and falling short of projected targets. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<hr>
					<h3>Tiếng Anh chuyên ngành</h3>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/1.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Tiếng Anh giao tiếp kinh doanh </a></div>
							<div class="date">17 Nov 2016 </div>
							<div class="intro">An ambitious program aiming to churn out an English-savvy workforce is way behind its 2020 deadline and falling short of projected targets. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/2.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Tiếng Anh giao tiếp và phỏng vấn </a></div>
							<div class="date">08 May 2016 </div>
							<div class="intro">Học phần 1: gồm đào tạo các kỹ năng nghiên cứu và phân tích yêu cầu của khách hàng; kỹ năng trình bày các vấn đề. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/3.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Tiếng Anh học thuật </a></div>
							<div class="date">27 Dec 2016 </div>
							<div class="intro">Công ty Luật E-Consult xin chúc mừng quý khách hàng đã tham gia sử dụng dich vụ đăng ký đất đai tại quận Hoàng Mai. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/1.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Tiếng Anh tài chính ngân hàng </a></div>
							<div class="date">17 Nov 2016 </div>
							<div class="intro">An ambitious program aiming to churn out an English-savvy workforce is way behind its 2020 deadline and falling short of projected targets. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/2.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Tiếng Anh pháp lý </a></div>
							<div class="date">08 May 2016 </div>
							<div class="intro">Học phần 1: gồm đào tạo các kỹ năng nghiên cứu và phân tích yêu cầu của khách hàng; kỹ năng trình bày các vấn đề. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/3.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Thuật ngữ chuyên ngành pháp lý </a></div>
							<div class="date">27 Dec 2016 </div>
							<div class="intro">Công ty Luật E-Consult xin chúc mừng quý khách hàng đã tham gia sử dụng dich vụ đăng ký đất đai tại quận Hoàng Mai. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
				</div>
				<!-- End Featured News -->
				<!-- Latest News -->
				<div class="col-sm-3">
							
				</div>
				<!-- End Featured News -->
			</div>
		</div>
	</div>
	  <!-- Footer -->
	  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		

	<!-- Javascripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="js/bootstrap.min.js"></script>
	
	<!-- Scrolling Nav JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/scrolling-nav.js"></script>		

</body>
</html>