<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>
	<!-- Page Title -->
	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Khóa học</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-no-padding">
		<div class="container">
			<!-- Blog Post -->
			<div class="col-sm-8">
				<div class="blog-post blog-single-post">
					<div class="single-post-title center">
						<h3><em>ECONSULT: NƠI PHÁT TRIỂN TIẾNG ANH CHUYÊN NGÀNH</em></h3>
						<h3><em>VÀ PHÁT TRIỂN BẢN THÂN CỦA BẠN</em></h3>
					</div>						
					<div class="single-post-content">
						<h4>
						<p>
							ECONSULT là công ty Luật kết hợp đào tạo tiếng Anh chuyên ngành. Sự kết hợp này là thế mạnh và ưu
							điểm nổi bật mà rất hiếm đơn vị nào có được. Bởi đội ngũ luật sư của chúng tôi không chỉ giỏi về
							chuyên môn mà còn rất giỏi ngoại ngữ (tiếng Anh, tiếng Pháp). Do vậy ECONSULT xác định sứ mệnh to
							lớn của mình là cần phải tạo môi trường học tập, thực hành, đào tạo các thế hệ tương lai của đất
							nước. Đặc biệt trong thời đại toàn cầu hóa, đội ngũ lao động trình độ cao nhất thiết phải vừa giỏi
							chuyên môn vừa tự tin giao tiếp tiếng Anh.
						</p>
						<p>
							Với khát vọng mang đến những kiến thức giá trị, giúp cải thiện các kỹ năng - một trong những yếu tố
							quan trọng ảnh hưởng đến sự thành công của mỗi cá nhân và tổ chức. Với mong muốn lấy hiệu quả
							làm thước đo, cùng với mục tiêu đưa kiến thức và kỹ năng đúng nhu cầu – đủ trọng tâm – đảm bảo
							kết quả, ECONSULT quan niệm rằng đào tạo không đơn thuần gói gọn trong một bài học mà là một
							quá trình hoàn chỉnh, thống nhất từ lúc tìm hiểu nhu cầu đào tạo riêng biệt của mỗi cá nhân, tổ
							chức, đến việc chọn lọc các yếu tố, phương pháp phù hợp và hiệu quả nhất, được áp dụng thông qua
							quá trình tiếp xúc và đào tạo. Cuối cùng là chăm sóc, hỗ trợ sau đào tạo giúp cho các học viên tham
							gia với chúng tôi có được sự thay đổi thật sự và ứng dụng thành công những giá trị đã học được.
						</p>
						<p>
							Bên cạnh đó, ECONSULT với những chuyên gia tâm huyết đã luôn nỗ lực hết mình để mang đến
							những chương trình đào tạo, những khóa học chất lượng cao và khác biệt, chú trọng và nhấn mạnh
							tính thực hành và ứng dụng. Mỗi một chương trình đều gắn kết thực tế giúp học viên áp dụng ngay
							những kiến thức đã học vào giải quyết thành công những vấn đề hiện tại của cá nhân, tập thể.
						</p>
						<p>
							Trong quá trình hoạt động, ECONSULT chú trọng không ngừng phát triển, nâng tầm các chương trình
							huấn luyện vào thực tế của đối tượng tham gia, khơi gợi đúng vấn đề, đáp ứng chính xác những nhu
							cầu về tăng cường kỹ năng, xây dựng đội ngũ vững mạnh cho cả cá nhân và tổ chức. Thành quả của
							những nổ lực không ngừng nghỉ đã được hồi đáp bằng những lời khen ngợi, niềm tin yêu và sự gắn
							bó lâu dài của Quý khách hàng dành cho ECONSULT. Đây thật sự là một nguồn động viên vô giá giúp
							chúng tôi vững vàng để hoàn thiện và phát triển hơn, đóng góp được nhiều hơn nữa những tri thức
							về kỹ năng cho xã hội.
						</p>
						<p>
							Đến với ECONSULT, bạn không chỉ nhận được những giá trị thiết thực từ những khóa học mà bạn còn
							được chia sẻ kinh nghiệm thực tế từ những chuyên gia hàng đầu Việt Nam. Từ đó bạn có thể khám
							phá, phát triển và hoàn thiện bản thân, xác định được mục tiêu, kế hoạch và định hướng tương lai.
						</p>
					</h4>
					</div>
				</div>
			</div>
			<!-- End Blog Post -->
			<!-- curren posts -->
			<div class="col-sm-3 mT20px">
				<h3>Khóa học nổi bật</h3>
			</div>
			<div class="col-sm-6 w25p">
				<div class="blog-post blog-current-post">
					<div class="single-post-title">
						<h4>Khóa học tiếng Anh Pháp lý</h4>
					</div>
					<div class="single-post-image">					
						<form id="myForm" action="course1" method="get"> 
							<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
					</form>
					</div>
					<div class="current-post-info">
						<i class="glyphicon glyphicon-time"></i>05 Nov, 2017
					</div>
				</div>
			</div>
			<div class="col-sm-6 w25p">
				<div class="blog-post blog-current-post">
					<div class="single-post-title">
						<h4>Giới thiệu khóa học Tiếng Anh cho người muốn đi du lịch</h4>
					</div>
					<div class="single-post-image">
						<form id="myForm" action="course2" method="get"> 
							<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
					</form>
					</div>
					<div class="current-post-info">
						<i class="glyphicon glyphicon-time"></i>05 Nov, 2017
					</div>
				</div>
			</div>
			<div class="col-sm-6 w25p">
				<div class="blog-post blog-current-post">
					<div class="single-post-title">
						<h4>Khóa học tiếng Anh học thuật</h4>
					</div>
					<div class="single-post-image">
						<form id="myForm" action="course3" method="get"> 
							<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
					</form>
					</div>
					<div class="current-post-info">
						<i class="glyphicon glyphicon-time"></i>05 Nov, 2017
					</div>
				</div>
			</div>
			<!-- end-curren posts -->
		</div>
	</div>

	<hr>

	<div class="section section-no-padding">
		<div class="container">
			<div class="row">
				<!-- Featured News -->
				<div class="col-sm-9 featured-news">
						<h3>Tiếng Anh chuyên ngành</h3>
						<h4>
						<div class="row">
							<div class="col-xs-3">
									<form id="myForm" action="course4" method="get"> 
											<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
									</form>
							</div>
							<div class="col-xs-8">
								<div class="caption">								  
									 <form id="myForm" action="course4" method="get"> 
																		Tiếng Anh giao tiếp kinh doanh
									</form>
									</div>
								<div class="date">05 Nov 2017 </div>
								<div class="intro">
									
									Giáo viên nước ngoài giàu kinh nghiệm sống, có chứng chỉ quốc tế về giảng dạy Tiếng Anh và nhiều năm kinh nghiệm trong giảng dạy tiếng Anh chuyên ngành, anh văn thương mại ở nhiều lĩnh vực cho các doanh nghiệp Việt Nam cũng như các công ty, tập đoàn đa quốc gia.
	
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-3">
									<form id="myForm" action="course3" method="get"> 
											<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
									</form>
							
							</div>
							<div class="col-xs-8">
								<div class="caption">
									<form id="myForm" action="course3" method="get"> 
										Tiếng Anh học thuật 
									</form>
								</div>
								<div class="date">27 Dec 2016 </div>
								<div class="intro"><p>• Tự tin tham gia thảo luận tiếng Anh trong lớp học, lớp học nhóm và trong các cuộc đàm thoại Tiếng Anh.</p>
									<p>• Nghe và ghi chú bài giảng để nhớ vào thảo luận các ý chính.</p></div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
									<form id="myForm" action="course12" method="get"> 
											<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
									</form>
							
							</div>
							<div class="col-xs-8">
								<div class="caption">
									<form id="myForm" action="course12" method="get"> 
										Tiếng Anh chuyên ngành Luật
									</form>
								</div>
								<div class="date">27 Dec 2016 </div>
								<div class="intro">
										<p>- Kỹ năng tổ chức công việc hiệu quả</p>
										<p>- Kỹ năng quản lý thời gian</p>
										<p>- Kỹ năng làm việc nhóm, hỗ trợ công việc</p>
										<p>- Kỹ năng thuyết trình</p>
										<p>- Kỹ năng tư duy, giải quyết vấn đề hiệu quả, logic</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
									<form id="myForm" action="course7" method="get"> 
											<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
									</form>
							
							</div>
							<div class="col-xs-8">
								<div class="caption">
									<form id="myForm" action="course7" method="get"> 
										Khóa học Tiếng Anh cho người phỏng vấn xin visa
									</form>
								</div>
								<div class="date">27 Dec 2016 </div>
								<div class="intro"><p> Tính đến thời điểm hiện nay, số lượng người Việt Nam du học, du lịch và làm việc tại nước ngoài ngày càng tăng. Theo Bộ Giáo dục và Đào tạo cho biết năm 2016 có khoảng 136.000 công dân Việt Nam đang học tập tại nước ngoài. Theo số liệu của tổ chức Di cư Quốc tế (IMO) Việt Nam cũng là một trong 10 quốc gia di cư ra nước ngoài nhiều nhất Đông Á – Thái Bình Dương tính đến năm 2013, nằm trong những quốc gia có công dân mua nhà tại Mỹ nhiều nhất thế giới với 3 tỷ USD được chi trả trong năm 2017 và trong top 10 liên tục từ 2013 – 2017. Trong nửa đầu năm 2017, có hơn 57.000 lao động Việt Nam đang làm việc tại nước ngoài. Do đó, nhu cầu về việc học Tiếng Anh ngày càng tăng cao.</p>
									
									
									</div>
							</div>
						</div>
						
						<div class="row">
								<div class="col-xs-3">
										<form id="myForm" action="course1" method="get"> 
												<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
										</form>
								</div>
								<div class="col-xs-8">
									<div class="caption">								  
										 <form id="myForm" action="course1" method="get"> 
												Khóa học tiếng Anh Pháp lý
										</form>
										</div>
									<div class="date">05 Nov 2017 </div>
									<div class="intro">
											<h6>3. Nội dung học Khóa Tiếng Anh Pháp lý (Legal English)</h6>
											<p>- Các chuyên đề của Khóa học được thiết kế dưới dạng môn học nhằm trang bị cho học viên các kỹ năng tiếng Anh pháp lý là nghe, nói, đọc, viết.</p>
											<p>- Học viên sẽ được học và thực hành hoàn toàn bằng Tiếng Anh.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
										<form id="myForm" action="course10" method="get"> 
												<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
										</form>
								</div>
								<div class="col-xs-8">
									<div class="caption">								  
										 <form id="myForm" action="course10" method="get"> 
											Khóa học kỹ năng thuyết trình bằng Tiếng Anh (PRESENTATION SKILLS in ENGLISH)
										</form>
										</div>
									<div class="date">05 Nov 2017 </div>
									<div class="intro">
										<p>- Thực hành sâu, kết hợp giảng lý thuyết song song, lấy kết quả thực hành để giảng lý thuyết và ứng dụng tức.</p>
										<p>- Bài giảng lấy thực hành làm chủ đạo, được lồng ghép các tình huống thực tế.</p>
										<p>- Thực hành các kỹ năng, kỹ thuật qua các bài tập tình huống (thuyết trình).</p>
										<p>- Làm việc nhóm, thảo luận, chia sẻ kinh nghiệm theo từng tình huống và nội dung học.</p>
										<p>- Cung cấp tài liệu tham khảo trước và sau khóa học.</p>
									</div>
								</div>
							</div>
							<hr>
					<h3>Kỹ năng ngành luật</h3>
					<h4>
					<div class="row">
						<div class="col-xs-3"><form id="myForm" action="course6"  method="get"> 
							<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
						</form>
						</div>
						<div class="col-xs-8">
							<div class="caption">
									<form id="myForm"  action="course6" method="get">
										Khóa đào tạo Kỹ năng Tư vấn thành lập doanh nghiệp, thay đổi nội dung đăng ký kinh doanh
									</form>
							</div>
							<div class="date">05 Nov 2017 </div>
							<h6>1. Khóa đào tạo Kỹ năng Tư vấn Thành lập doanh nghiệp</h6>
							<p>Đối tượng tham gia: Sinh viên Khoa Luật, cử nhân luật và những người hoạt động trong lĩnh vực tư vấn luật có nhu cầu.</p>
							<p>Thời gian đào tạo: 3 buổi: thứ 7 và cả ngày CN.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><form id="myForm" action="course8"  method="get"> 
							<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
						</form>
						</div>
						<div class="col-xs-8">
							<div class="caption">
									<form id="myForm"  action="course8" method="get">
										Kỹ năng tư vấn pháp luật (luật Doanh nghiệp)
									</form>
							</div>
							<div class="date">05 Nov 2017 </div>
							<div style="padding-left:20px;">
								<p class="sub-text">• Kỹ năng tư vấn pháp luật hình sự và kỹ năng tiếp cận vụ án hình sự</p>
								<p class="sub-text">• Kỹ năng viết luận cứ;</p>
								<p class="sub-text">• Kỹ năng nghiên cứu và đánh giá hồ sơ vụ án;</p>
								<p class="sub-text">• Kỹ năng tham gia tranh tụng tại tòa</p>
								<p class="sub-text">• Kỹ năng thực tiễn khi tham gia tranh tụng</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><form id="myForm" action="course11"  method="get"> 
							<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
						</form>
						</div>
						<div class="col-xs-8">
							<div class="caption">
									<form id="myForm"  action="course11" method="get">
										KHÓA ĐÀO TẠO NGẮN HẠN VỀ PHÁP LUẬT TẠI ECONSULT
									</form>
							</div>
							<div class="date">05 Nov 2017 </div>
							<div style="padding-left:20px;">
								<p>- Những vấn đề chung về hợp đồng, </p>
								<p>- Tổng quát về hợp đồng thương mại và pháp luật về hợp đồng thương mại.</p>
								<p>- Vai trò, nghĩa vụ và trách nhiệm của các bên trong hợp đồng thương mại.</p>
								<p>- Quản lý các kiểu hợp đồng khác nhau (Phân tích một số điểm cần lưu ý trong mỗi hợp đồng cụ thể thông qua một số mẫu hợp đồng đặc trưng trong kinh doanh thương mại).</p>
								<p>- Kỹ năng soạn thảo các hợp đồng trong kinh doanh, thương mại.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><form id="myForm" action="course9"  method="get"> 
							<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
						</form>
						</div>
						<div class="col-xs-8">
							<div class="caption">
									<form id="myForm"  action="course9" method="get">
										Kỹ năng tư vấn Luật Đầu tư nước ngoài và Luật Sở hữu trí tuệ
									</form>
							</div>
							<div class="date">05 Nov 2017 </div>
							<div style="padding-left:20px;">
								<p class="sub-text">• Hướng dẫn ngành nghề kinh doanh của Công ty có vốn đầu tư nước ngoài tại Việt Nam (ngành nghề cho phép, ngành nghề hạn chế, ngành nghề không khuyến khích đầu tư; ngành nghề có điều kiện; ngành nghề thẩm tra…vv.)</p>
								<p class="sub-text">• Thực hành làm hồ sơ thành lập Công ty TNHH một thành viên (100% vốn nước ngoài do cá nhân; pháp nhân là chủ sở hữu).</p>
								<p class="sub-text">• Thực hành làm hồ sơ thành lập công ty TNHH hai thành viên trở lên (Công ty liên doanh).</p>
								
							</div>
						</div>
					</div>
					<hr>
					<h3>Kỹ năng cá nhân</h3>
					<h4>
					<div class="row">
						<div class="col-xs-3"><form id="myForm" action="course13"  method="get"> 
							<button style="border: none;background-color: transparent;height: 100%;width: 100%;" type="submit" ><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></button>
						</form>
						</div>
						<div class="col-xs-8">
							<div class="caption">
									<form id="myForm"  action="course13" method="get"> 
											CHƯƠNG TRÌNH ĐÀO TẠO KỸ NĂNG ĐÀM PHÁN CỦA LUẬT 
									</form>
							</div>
							<div class="date">05 Nov 2017 </div>
							<div class="intro"><p>1.	Kỹ năng Đàm phán mềm dẻo như ngọn cỏ và cứng rắn như một khối đá </p>
								<p>2.	Tranh luận và thuyết phục trong đàm phán </p>
								<p>3.	Nguyên tắc đẫn đến đàm phán thành công</p>
								<p>4.	Bí quyết mắc lỗi trong đàm phán</p>
								<p>5.	Kỹ năng bám sát mục tiêu trong quá trình đàm phán</p>...</div>
						</div>
					</div>
					<hr>
					
					
				</div>
				<!-- End Featured News -->
				<!-- Latest News -->
				<div class="col-sm-3">
							
				</div>
				<!-- End Featured News -->
			</div>
		</div>
	</div>
	  <!-- Footer -->
	  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>(+84)  962538126</p></font></strong> </Button></div>
		

	<!-- Javascripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="js/bootstrap.min.js"></script>
	
	<!-- Scrolling Nav JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/scrolling-nav.js"></script>		

</body>
</html>