<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

	

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

          <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<header background-color="#BBDEFB" class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="img/logo-econsult.png" style="width:120px;height:120px;" alt="econsul"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Trang chủ</a></li>
                    <li><a href="about-us.html">Giới thiệu</a></li>
					<li class="dropdown">
                        <a href="tin-tuc-bao-chi.html" > Bài viết - tin tức<i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="danh-sach-tin-tuc.html">Các bài viết và báo chí</a></li>
                            <li><a href="danh-sach-tin-tuc.html">Thông báo</a></li>
                            <li><a href="danh-sach-tin-tuc.html">Sự kiện</a></li>
                            <li class="divider"></li>
                            <li>EConsult</li>
                        </ul>
                    </li>
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dịch vụ <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li border="1px"><a href="document-able/econsult_bangigadichthuat.pdf"target="_blank">Bảng giá dịch thuật</a></li>
                            <li><a href="shareService.html">Dịch vụ chung</a></li>
                            <li><a href="shareService_dichthuat.html">Dịch vụ dịch thuật công chứng</a></li>
                            <li><a href="shareService_doangnghiep_thuongmai.html">Dịch vụ tư vấn doanh nghiệp</a></li>
                            <li><a href="shareService_honnhan_giadinh.html">Dịch vụ tư vấn hôn nhân và gia đình</a></li>
                            <li><a href="shareService_finace_banking.html">Dịch vụ tư vấn tài chính ngân hàng</a></li>
                            <li><a href="shareService_tax.html">Dịch vụ tư vấn thuế</a></li>
                            <li><a href="shareService_tuvan.html">Dịch vụ tư vấn</a></li>
                            <li class="divider"></li>
                            <li>EConsult</li>
                        </ul>
                    </li>
					<li><a href="khoa-hoc.html">Khóa học</a></li>
					
                    <li><a href="tuyen-dung.html">Tuyển dụng</a></li>
                    <li><a href="contact-us.html">Liên hệ</a></li>
                           <li class="dropdown" >
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Đăng nhập</b> <span class="caret"></span></a>
						<ul  id="login-dp" class="dropdown-menu" style="width:300px; border: 2px solid #a1a1a1;border-radius: 15px;">
							<li style="height:150%;width:100%">
									
									<p align="center"><img src="img/logo-econsult.png" style="width:84px;height:84px;" alt="econsul"></p>
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav" style="height:100%;width:100%">
										<div class="form-group" style="height:150%">
											<p> <label >Tài Khoản</label>
											 <input type="email" class="form-control" id="aName" name="aName" placeholder="Tài Khoản" required></p>
										</div>
										<div class="form-group">
											 <label >Mật khẩu</label>
											 <input type="password" class="form-control" id="aPass" name="aPass" placeholder="Mật khẩu" required>                                          
										</div>
										<div class="col-md-12 text-center">
											<button type="submit" class="btn btn-primary btn-lg">Đăng nhập</button>
										</div>
										
									</form>
								
							</li>
						</ul>
					</li
                </ul>
            </div>
        </div>
    </header><!--/header-->


        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Our Services </h1>
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section">
	    	<div class="container">
				<div class="row">
				<div class="col-sm-12">
						<h2>We are leading company</h2>
						<h3>Specializing in Wordpress Theme Development</h3>
						<p>
							Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id. Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id.
						</p>
						<p>
							Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id.
						</p>						
					</div>
				</div>
			</div>
		</div>

<hr>			
        
        <div class="section">
	        <div class="container">
	        	<div class="row">
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-calendar"></i>
		        			<h3>Aliquam in adipiscing</h3>
		        			<p>Praesent rhoncus mauris ac sollicitudin vehicula. Nam fringilla turpis turpis, at posuere turpis aliquet sit amet condimentum</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-briefcase"></i>
		        			<h3>Curabitur mollis</h3>
		        			<p>Suspendisse eget libero mi. Fusce ligula orci, vulputate nec elit ultrices, ornare faucibus orci. Aenean lectus sapien, vehicula</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-th-large"></i>
		        			<h3>Vivamus mattis</h3>
		        			<p>Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-home"></i>
		        			<h3>Aliquam in adipiscing</h3>
		        			<p>Praesent rhoncus mauris ac sollicitudin vehicula. Nam fringilla turpis turpis, at posuere turpis aliquet sit amet condimentum</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-cog"></i>
		        			<h3>Curabitur mollis</h3>
		        			<p>Suspendisse eget libero mi. Fusce ligula orci, vulputate nec elit ultrices, ornare faucibus orci. Aenean lectus sapien, vehicula</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-camera"></i>
		        			<h3>Vivamus mattis</h3>
		        			<p>Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        	</div>
	        </div>
	    </div>


<hr>
        
        <div class="section">
	    	<div class="container">
	        	<div class="row">
	        		<div class="col-lg-12">
	        			<!-- Pricing Plans Wrapper -->
	        			<div class="pricing-wrapper">
	        				<!-- Pricing Plan -->
							<div class="pricing-plan">
								<h2 class="pricing-plan-title">Starter</h2>
								<div class="pricing-plan-price">FREE</div>
								<!-- Pricing Plan Features -->
								<ul class="pricing-plan-features">
									<li><strong>1</strong> user</li>
									<li><strong>Unlimited</strong> projects</li>
									<li><strong>2GB</strong> storage</li>
								</ul>
								<a href="index.html" class="btn">Order Now</a>
							</div>
							<!-- End Pricing Plan -->
						    <div class="pricing-plan">
								<h2 class="pricing-plan-title">Advanced</h2>
								<div class="pricing-plan-price">$49<span>/mo</span></div>
								<ul class="pricing-plan-features">
									<li><strong>10</strong> users</li>
									<li><strong>Unlimited</strong> projects</li>
									<li><strong>20GB</strong> storage</li>
								</ul>
								<a href="index.html" class="btn">Order Now</a>
						    </div>
						    <!-- Promoted Pricing Plan (White Background) -->
						    <div class="pricing-plan pricing-plan-promote">
									<h2 class="pricing-plan-promote-title">Premium</h2>
									<div class="pricing-plan-promote-price">$99<span>/mo</span></div>
									<ul class="pricing-plan-promote-features">
										<li><strong>Unlimited</strong> users</li>
										<li><strong>Unlimited</strong> projects</li>
										<li><strong>100GB</strong> storage</li>
									</ul>
								<a href="index.html" class="btn btn-green">Order Now</a>
						    </div>
						    <div class="pricing-plan">
						    	<!-- Pricing Plan Ribbon -->
								<div class="ribbon-wrapper">
									<div class="price-ribbon ribbon-green">New</div>
								</div>
								<h2 class="pricing-plan-title">Mega</h2>
								<div class="pricing-plan-price">$199<span>/mo</span></div>
								<ul class="pricing-plan-features">
									<li><strong>Unlimited</strong> users</li>
									<li><strong>Unlimited</strong> projects</li>
									<li><strong>100GB</strong> storage</li>
								</ul>
								<a href="index.html" class="btn">Order Now</a>
						    </div>
						</div>
						<!-- End Pricing Plans Wrapper -->
	        		</div>
	        	</div>
	    	</div>
	    </div>


<hr>
		
	    <!-- Our Clients -->
	    <div class="section">
	    	<div class="container">
	    		<h2>Our Happy Clients</h2>
				<div class="clients-logo-wrapper text-center row">
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-1.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-2.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-3.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-4.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-5.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-6.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-7.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-8.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-9.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-10.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-11.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-12.jpg" alt="Client Name"></a></div>
				</div>
			</div>
	    </div>
	    <!-- End Our Clients -->

	
	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
			
		    	<div class="row">
				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Liên hệ với chúng tôi qua</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 81A Trần Quốc Toản, Trần Hưng Đạo, Q. Hoàn Kiếm, Hà Nội.<br/>
	        				<b>Phone:</b> (+84) 989633596 <br/>
	        				<b>Fax:</b> (+84-24) 3941 2991<br/>
	        				<b>Email:</b> <a href="mailto:info@yourcompanydomain.com"> EConsult.Hotrodichvu@gmail.com hoặc Luatsu.EConsult@gmail.com</a>
	        			</p>
		    		</div>				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Liên hệ qua mạng xã hội trực tuyến</h3>
						<p>Liên lạc với chúng tôi qua facebook hoặc email.</p>
		    			<div>
		    				<img src="img/icons/facebook.png" width="32" alt="Facebook">
		    				<img src="img/icons/twitter.png" width="32" alt="Twitter">
		    				<img src="img/icons/linkedin.png" width="32" alt="LinkedIn">
							<img src="img/icons/rss.png" width="32" alt="RSS Feed">
						</div>
		    		</div>
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<div id="fb-root"></div>
							<script>(function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
									if (d.getElementById(id)) return;
									js = d.createElement(s); js.id = id;
									js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10";
									fjs.parentNode.insertBefore(js, fjs);
									}(document, 'script', 'facebook-jssdk'));</script>
									<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcongtyluateconsult%2F&tabs=timeline&width=300&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		    		</div>

		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2017 <a>NAT-Cor</a>.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	
	<script src="//use.edgefonts.net/bebas-neue.js"></script>

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>		