<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

   

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>	
	 <section id="main-slider" class="no-margin">
      
    </section><!--/#main-slider-->
	
	
     <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<h1><i class="icon-calendar"></i>
						Dịch vụ chung: </h1>
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section">
	    	<div class="container">
				<div class="row">
				<div class="col-sm-12">
						<h2>EConsult</h2>
						<h4>
							Thế giới mà các Doanh nghiệp đang hoạt động luôn thay đổi, chính vì vậy trong hoạt động kinh
							doanh các doanh nghiệp luôn phải tìm ra những giải pháp hữu hiệu nhất để vừa thu được lợi nhuận
							cao vừa tuân thủ các quy định pháp luật hiện hành của Nhà nước.
						</h4>
											
					</div>
				</div>
			</div>
		</div>

		<div class="section">
	        <div class="container">
			<h3>Với đội ngũ nhân sự có hiểu biết và kinh nghiệm thực tiễn sâu sắc, E-Consult đã thực hiện đa dạng
				nhiều loại hình dịch vụ tư vấn được khách hàng đánh giá cao như:</h3>
	        	<div class="row" style="padding-top:20px; background-color:aliceblue;">
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-calendar icon-service"></i>
		        			<h3>Thành lập doanh nghiệp</h3>	        		
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>Tư vấn soạn thảo hồ sơ Thành lập doanh nghiệp.</h4>
		        		</div>
	        		</div>
					<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
						<h4>Tư vấn thủ tục và các việc cần phải làm trước và sau khi thành lập doanh nghiệp.</h4>
		        		</div>
	        		</div>
	        	</div>
				<div class="row">
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-calendar icon-service"></i>
		        			<h3>Thay đổi đăng ký kinh doanh, sát nhập, mua bán, giải thể doanh nghiệp</h3>		        		
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>- Tư vấn soạn thảo hồ sơ thay đổi đăng ký kinh doanh.</h4>
							<h4>- Tư vấn thủ tục thay đổi đăng ký kinh doanh.</h4>
						</div>
	        		</div>
					<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>Hoàn thiện các giấy tờ pháp lý và các điều kiện, thủ tục trước và sau khi thay đổi ĐKKD.</h4>
		        		</div>
	        		</div>
	        	</div>
				<div class="row" style="background-color:aliceblue;">
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-calendar icon-service"></i>
		        			<h3>Tài chính và Kế toán Doanh nghiệp</h3>		        		
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>- Tư vấn lập Báo cáo tài chính Doanh nghiệp.</h4>
							<h4>- Tư vấn xây dựng và lựa chọn mô hình kế toán doanh nghiệp.</h4>
							<h4>- Tư vấn lựa chọn hình thức kế toán.</h4>
		        		</div>
	        		</div>
					<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>- Tư vấn thực hiện các thủ tục đăng ký kế toán.</h4>
							<h4>- Tư vấn xây dựng qui chế tài chính, thuế.</h4>
							<h4>- Tư vấn tính và lập bàng kê khai thuế.</h4>
		        		</div>
	        		</div>
	        	</div>
				<div class="row" >
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-calendar icon-service"></i>
		        			<h3>Dự án đầu tư</h3>		        		
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>- Tư vấn lựa chọn phương án đầu tư.</h4>
							<h4>- Tư vấn lập Báo cáo dự án.</h4>
							<h4>- Tư vấn lập Báo cáo quyết toán đầu tư.</h4>
		        		</div>
	        		</div>
					<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>Tư vấn lựa chọn phương án đầu tư.</h4>
		        		</div>
	        		</div>
	        	</div>
				<div class="row" style="background-color:aliceblue;">
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-calendar icon-service"></i>
		        			<h3>Dự án đấu thầu</h3>		        		
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>Tư vấn soạn thảo hồ sơ mời thầu.</h4>
		        		</div>
	        		</div>
					<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>Tư vấn chấm và lựa chọn hồ sơ dự thầu.</h4>
		        		</div>
	        		</div>
	        	</div>
				<div class="row" >
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-calendar icon-service"></i>
		        			<h3>Các hoạt động khác đã thực hiện</h3>		        		
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>Tư vấn thẩm định giá trị tài sản.</h4>
		        		</div>
	        		</div>
					<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper txtLeft">
		        			<h4>Tư vấn về cổ phần hóa doanh nghiệp.</h4>
		        		</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
 
        <div class="section" style="padding-top: 0;">
	    	<div class="container">
	        	<h4>Ngoài ra, E-Consult đã khảo sát, nghiên cứu đưa ra các ý kiến tư vấn hoặc trực tiếp
				xây dựng giúp các doanh nghiệp sắp xếp lại tổ chức sản xuất kinh doanh, tổ chức quản lý, soạn thảo và
				ướng dẫn thực hiện các quy định về quản trị doanh nghiệp, phân cấp quản lý, phân cấp tài chính về
				xây dựng và tổ chức thực hiện các chỉ tiêu hạch toán kinh tế nội bộ, thực hiện cơ chế kế toán phù hợp
				với từng loại hình hoạt động của các doanh nghiệp trong nước và doanh nghiệp có vốn đầu tư nước ngoài.</h4>
	    	</div>
	    </div>


	    <!-- Footer -->
		<% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
		
        

    </body>
	 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	
	<!--<script src="//use.edgefonts.net/bebas-neue.js"></script>-->

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
</html>