<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

   

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
     <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>
	 <section id="main-slider" class="no-margin">
      
    </section><!--/#main-slider-->
	
	
     <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<h1><i class="icon-calendar"></i>
						TƯ VẤN THUẾ: </h1>
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section"style="background-color:#BBDEFB">
	    	<div class="container" >
				<div class="row">
				<div class="col-sm-12">
						<h2>EConsult</h2>
						<h3>Dịch vụ - tư vấn thuế</h3>
						<h4>
							<p>Tư vấn pháp luật thuế là một trong những dịch vụ tư vấn pháp lý được <strong>E-Consult</strong> đặc biệt chú trọng
							phát triển.</p> 
							<p>Với đội ngũ luật sư giàu kinh nghiệm kết hợp với đội ngũ kế toán trưởng có nhiều năm
							kinh nghiệm từng làm cho các Tập đoàn lớn,</p>
							<p>chúng tôi sẵn sàng tư vấn, giải đáp và thực hiện mọi yêu
							cầu của Quý khách hàng trong lĩnh vực thuế.</p> 
							<p>Mọi vấn đề pháp lý trong lĩnh vực thuế mà Quý khách
							hàng gặp phải trong hoạt động kinh doanh vui lòng liên hệ trực tiếp với các luật sư qua:</p>
							<p> số HOTLINE
							0989 633 596 để được tư vấn, hỗ trợ trực tiếp.</p>
						</h4>
												<p> &nbsp;</p>
					
											
					</div>
				</div>
			</div>
		</div>

<hr>			
        

		<div class="section">
	        <div class="container">
			<h4><strong>1. Tư vấn thuế đối với cá nhân:</strong></h4>
			<p>&nbsp;+ Tư vấn về đối tượng nộp thuế; thu nhập chịu thuế; thu nhập được miễn thuế; giảm thuế, căn cứ
				tính thuế thu nhập cá nhân cũng như thủ tục đăng ký mã số thuế.</p>
			<p>&nbsp;+ Đối với cá nhân đã đăng ký thuế và có mã số thuế. Trong trường hợp cá nhân được hoàn thuế hay
				trong trường hợp giảm trừ gia cảnh, E-Consult sẽ hướng dẫn cá nhân các thủ tục theo quy định của
				pháp luật để đảm bảo lợi ích cho các cá nhân.</p>
			<h4><strong>2. Tư vấn thuế đối với doanh nghiệp:</strong></h4>
			<h5><strong>&nbsp;<p>Thuế thu nhập doanh nghiệp liên quan hầu hết đến các hoạt động của doanh nghiệp.</p> <p>Hiện do còn
				thiếu sự hướng dẫn nên rất nhiều doanh nghiệp không biết xử lý như thế nào trong việc tính toán,</p>
				cộng gộp các chi phí trong quá trình sản xuất kinh doanh để thỏa mãn yêu cầu theo quy định của
				thuế.</h5>
				<h5>&nbsp;Khi thành lập Doanh nghiệp:</strong></h5>
			<p>&nbsp;&nbsp;+ Tư vấn đăng ký mã số thuế.</p>
			<p>&nbsp;&nbsp;+ Tư vấn kê khai thuế.</p>
			<p>&nbsp;&nbsp;+ Tư vấn thủ tục nộp thuế.</p>
			<p>&nbsp;&nbsp;+ Tư vấn thủ tục hoàn thuế Giá trị gia tăng.</p>
			<p>&nbsp;&nbsp;+ Tư vấn quyết toán thuế, tư vấn lập báo cáo tài chính.</p>
			<p>&nbsp;&nbsp;+ Tư vấn thủ tục miễn giảm thuế.</p>
			<p>&nbsp;&nbsp;+ Tư vấn các quy định về sử dụng hóa đơn, chứng từ.</p>
			<p>&nbsp;&nbsp;+ Tư vấn khiếu nại, tố cáo trong lĩnh vực thuế.</p>
			<p>&nbsp;&nbsp;+ Tư vấn xử lý vi phạm trong lĩnh vực thuế.</p>
			<p>&nbsp;&nbsp;+ Hướng dẫn tự tính, tự khai, tự nộp thuế cho các Chủ doanh nghiệp.</p>
			<p>&nbsp;&nbsp;+ Hướng dẫn đọc và hiểu Báo cáo tài chính dành cho Chủ doanh nghiệp.</p>
			
			<p>&nbsp;&nbsp;+ Tiến hành thẩm định tiền khả thi.</p>
			<p>&nbsp;&nbsp;+ Nghiên cứu và phân tích tính khả thi của dự án.</p>
			<p>&nbsp;&nbsp;+ Kết nối nguồn tài trợ.</p>
			<H5><strong>&nbsp;<p>Trong quá trình hoạt động:</p> 
			<p>Khi các doanh nghiệp sẽ mắc phải những khó khăn trong việc nộp thuế
			đúng thời hạn cũng như quy trình luật định thì việc đưa ra Dịch vụ kê khai,</p>
			<p>đại diện nộp thuế của <strong>E-
			Consult</strong> sau đây sẽ giúp các doanh nghiệp giải quyết được các vấn đề trên:</p></strong></h5>
			<p>&nbsp;&nbsp;+ Tư vấn hoàn thiện hồ sơ thuế theo đúng quy định của pháp luật.</p>
			<p>&nbsp;&nbsp;+ Đại diện nộp hồ sơ thuế tại Chi cục thuế trực tiếp quản lý.</p>
			<p>&nbsp;&nbsp;+ Cung cấp kế toán theo đúng nhu cầu của Doanh nghiệp.</p>
			<p>&nbsp;&nbsp;+ Đại diện làm việc với cơ quan Thuế liên quan đến nghĩa vụ Thuế của Doanh nghiệp.</p>
			<H5><strong>&nbsp;<p>Trong trường hợp tổ chức, sắp xếp lại doanh nghiệp:</p> 
			<p>(Gồm chuyển đổi loại hình doanh nghiệp; chia
			doanh nghiệp; tách doanh nghiệp; sáp nhập, hợp nhất doanh nghiệp; bán doanh nghiệp;</p>
			<p> chuyển
			doanh nghiệp trực thuộc thành doanh nghiệp độc lập hoặc ngược lại; tạm ngừng hoạt động), Các
			luật sư và nhân viên tư vấn của E-Consult sẽ hướng dẫn </p>doanh nghiệp các thủ tục kê khai đăng ký
			thuế đối với các cơ quan Thuế theo đúng quy trình và thời hạn luật định.</strong></h5>
			<p>&nbsp;&nbsp;</p>
			<H5><strong>&nbsp;<p>Trường hợp chấm dứt tồn tại: Khi doanh nghiệp chấm dứt tồn tại như giải thể, phá sản, chấm dứt
			kinh doanh… </p>
			E-Consult hướng dẫn doanh nghiệp hoàn tất thủ tục đóng mã số thuế với cơ quan
			Thuế.</strong></h5>
			</div>
	    </div>
	    


		
	   
           
	
	    <!-- Footer -->
	    <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        

    </body>
	 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	
	<!--<script src="//use.edgefonts.net/bebas-neue.js"></script>-->

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
</html>