<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

   

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>
	 <section id="main-slider" class="no-margin">
      
    </section><!--/#main-slider-->
	
	
     <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<h1><i class="icon-calendar"></i>
						TƯ VẤN TÀI CHÍNH &amp; NGÂN HÀNG: </h1>
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section"style="background-color:#BBDEFB">
	    	<div class="container" >
				<div class="row">
				<div class="col-sm-12">
						<h2>EConsult</h2>
						<h3>Dịch vụ - tư vấn tài chính và ngân hàng</h3>
						<h4>
							Phòng Tư vấn Tài chính Ngân hàng của <strong>E-Consult</strong> cam kết sẽ mang đến những dịch vụ tư vấn với chất
							lượng tốt nhất tới khách hàng. Bằng việc vận dụng toàn diện nền tảng kiến thức, những góc nhìn đa
							chiều về thị trường tài chính cũng như mạng lưới quan hệ rộng khắp, chúng tôi cam kết cung cấp
							những giải pháp và các gói dịch vụ phù hợp với chiến lược và mục tiêu tài chính của khách hàng.
						</h4>
												<p> &nbsp;</p>
						<h4>
						Các dịch vụ tư vấn về lĩnh vực Tài chính - Ngân hàng của <strong>E-Consult</strong> bao gồm:</h4>
											
					</div>
				</div>
			</div>
		</div>

<hr>			
        

		<div class="section">
	        <div class="container">
			<h4><strong>- Mua bán &amp; sáp nhập doanh nghiệp:</strong></h4>
			<p>+ Tư vấn lựa chọn đối tượng sáp nhập.</p>
			<p>+ Thực hiện rà soát trọng yếu, xác định giá trị doanh nghiệp/đối tượng sáp nhập nhằm tư vấn cho
				doanh nghiệp giá mua bán tốt nhất.</p>
			<p>+ Tư vấn trong quá trình thương lượng hợp đồng, tư vấn xây dựng cấu trúc hợp đồng.</p>
			<p>+ Xác định giá trị doanh nghiệp.</p>
			<p>+ Hỗ trợ doanh nghiệp chuẩn bị các báo cáo tài chính, báo cáo dự đoán các thông số rủi ro, các chi
				phí tài chính, tốc độ tăng trưởng, tư vấn tính toán các tỷ lệ tài chính và các tài liệu khác phù hợp với
				các phương pháp định giá và mô hình định giá khác nhau.</p>
			<p>+ Tư vấn lựa chọn phương pháp định giá và mô hình định giá phù hợp.</p>
			<p>+ Hỗ trợ xử lý các vướng mắc, tồn tại về tài chính, đánh giá đúng lợi thế và tiềm năng phát triển của
				doanh nghiệp theo đúng quy định pháp.</p>
			<h4><strong>- Tư vấn cấu trúc vốn doanh nghiệp:</strong></h4>
			<p>+ Rà soát chẩn đoán hiện trạng doanh nghiệp.</p>
			<p>+ Tính toán lợi ích khi tái cơ cấu, đề ra các giải pháp thực hiện.</p>
			<p>+ Xây dựng các giải pháp tái cấu trúc tài chính, tư vấn xây dựng các quy trình tài chính tối ưu.</p>
			<p>+ Xây dựng lộ trình tái cấu trúc, tư vấn các thủ tục pháp lý, quy trình thực hiện.</p>
			<H4><strong>- Tư vấn thu xếp vốn:</strong></h4>
			<p>+ Tiến hành thẩm định tiền khả thi.</p>
			<p>+ Nghiên cứu và phân tích tính khả thi của dự án.</p>
			<p>+ Kết nối nguồn tài trợ.</p>
			<H4><strong>- Các dịch vụ khác liên quan đến tư vấn doanh nghiệp.</strong></h4>

			</div>
	    </div>
	    


		
	   
           

		
	    <!-- Footer -->
	    <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        

    </body>
	 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	
	<!--<script src="//use.edgefonts.net/bebas-neue.js"></script>-->

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
</html>