<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

   

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>		
	 <section id="main-slider" class="no-margin">
      
    </section><!--/#main-slider-->
	
	
     <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<h1><i class="icon-calendar"></i>
						TƯ VẤN DOANH NGHIỆP VÀ THƯƠNG MẠI: </h1>
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section"style="background-color:#BBDEFB">
	    	<div class="container" >
				<div class="row">
				<div class="col-sm-12">
						<h2>EConsult</h2>
						<h3>Dịch vụ - tư vấn doanh nghiệp và thương mại</h3>
						<h4>
							 <p>Tư vấn pháp luật doanh nghiệp là một trong những dịch vụ trọng tâm của <strong>E-Consult</strong> trong lĩnh vực
								doanh nghiệp.</p> 
								<p>Với năng lực tư vấn pháp luật và kinh nghiệm pháp lý đã được khẳng định, chúng tôi
								cam kết cung cấp dịch vụ tư vấn pháp luật</p> chuyên nghiệp cho doanh nghiệp trong và ngoài nước.
						</h4>
												<h4> &nbsp;</p>
						<h4>
						Tư vấn pháp luật cho doanh nghiệp tại E-Consult bao gồm nhưng không hạn chế trong các nội dung
sau:</h4>
											
					</div>
				</div>
			</div>
		</div>

<hr>			
        

		<div class="section">
	        <div class="container">
			<h4><p>- Tư vấn và thực hiện theo yêu cầu của doanh nghiệp các thủ tục pháp lý căn bản như:</p> 
			<p>Thành lập
			doanh nghiệp; thay đổi giấy phép kinh doanh; chuyển đổi loại hình doanh nghiệp; mua bán sáp nhập
			doanh nghiệp;</p> tạm ngừng hoạt động doanh nghiệp; giải thể doanh nghiệp; phá sản doanh nghiệp và
			các dịch vụ pháp lý khác theo yêu cầu.</h4>
			<h4><p>- Tư vấn, hướng dẫn các quy định pháp luật liên quan đến hoạt động sản xuất, kinh doanh của doanh
			nghiệp cũng như các hoạt động</p> thương mại và đầu tư khác đồng thời hỗ trợ chuyên sâu trong lĩnh
			vực tư vấn, đàm phán và ký kết các hợp đồng.</h4>
			<H4><p>- Tư vấn cơ cấu tổ chức và xây dựng hồ sơ nội bộ doanh nghiệp, bao gồm:</p> Xây dựng quy chế; nội quy
			doanh nghiệp; tư vấn quản trị nội bộ; Sổ cổ đông; Sổ thành viên; Điều lệ; Hợp đồng lao động...</h4>
			<H4><p>- Tư vấn cơ cấu tổ chức và xây dựng hồ sơ nội bộ doanh nghiệp, bao gồm:</p> Xây dựng quy chế; nội quy
			doanh nghiệp; tư vấn quản trị nội bộ; Sổ cổ đông; Sổ thành viên; Điều lệ; Hợp đồng lao động...</h4>
			<H4><p>- Tư vấn quy định pháp luật Doanh nghiệp về việc xây dựng và hoàn thiện các mô hình doanh nghiệp
			phù hợp với hoạt động kinh doanh của </p>doanh nghiệp.</h4>
			<H4>- Tư vấn quy định pháp luật và tư vấn thủ tục thay đổi đăng ký kinh doanh.</h4>
			<H4><p>- Tư vấn quy định pháp luật và tư vấn thủ tục chuyển đổi loại hình doanh nghiệp, chia tách, sáp
			nhập, thành lập chi nhánh, văn phòng đại diện,</p> địa điểm kinh doanh...</h4>
			<H4>- Tư vấn tạm ngừng hoạt động kinh doanh, giải thể doanh nghiệp.</h4>
			<H4><p>- Tư vấn pháp luật thường xuyên cho doanh nghiệp:</p>
			<p>Cung cấp văn bản pháp luật liên quan đến
			doanh nghiệp, tư vấn pháp luật về Lao động, bảo hiểm, tiền lương, tư vấn các quy định pháp luật</p>
			liên quan đến quá trình, mục tiêu hoạt động của doanh nghiệp.</h4>
			<H4><p>- Tư vấn quy định pháp luật và cung cấp các dịch vụ tư vấn có liên quan đến quá trình cổ phần hoá
			các doanh nghiệp nhà nước bao gồm </p>giải quyết các vấn đề về lao động, tài chính, điều lệ công ty cổ
			phần và các trình tự thực hiện cổ phần hoá.</h4>
			<H4>- Tư vấn và hướng dẫn tổ chức cuộc họp hội đồng quản trị, đại hội đồng cổ đông hội đồng cổ đông,
			hội đồng thành viên...</h4>
			<H4>- Cung cấp dịch vụ dịch thuật tài liệu pháp lý cho doanh nghiệp.</h4>
			<H4>- Cung cấp các dịch vụ pháp lý khác theo yêu cầu của doanh nghiệp.</h4>
			<H4>- Mua bán &amp; sáp nhập doanh nghiệp:</h4>
			<h4> &nbsp; +Tư vấn lựa chọn đối tượng sáp nhập.</h4>
			<h4> &nbsp; +Thực hiện rà soát trọng yếu, xác định giá trị doanh nghiệp/đối tượng sáp nhập nhằm tư vấn cho
			doanh nghiệp giá mua bán tốt nhất.</h4>
			<h4> &nbsp; +Tư vấn trong quá trình thương lượng hợp đồng, tư vấn xây dựng cấu trúc hợp đồng.</h4>
			<h4> &nbsp; +Tư vấn lựa chọn đối tượng sáp nhập.</h4>
			<h4> &nbsp; +Xác định giá trị doanh nghiệp.</h4>
			<h4> &nbsp; +Hỗ trợ doanh nghiệp chuẩn bị các báo cáo tài chính, báo cáo dự đoán các thông số rủi ro, các chi
			phí tài chính, tốc độ tăng trưởng, tư vấn tính toán các tỷ lệ tài chính và các tài liệu khác phù hợp với
			các phương pháp định giá và mô hình định giá khác nhau.</h4>
			<h4> &nbsp; +Tư vấn lựa chọn phương pháp định giá và mô hình định giá phù hợp.</h4>
			<h4> &nbsp; +Hỗ trợ xử lý các vướng mắc, tồn tại về tài chính, đánh giá đúng lợi thế và tiềm năng phát triển của
			doanh nghiệp theo đúng quy định pháp luật.</h4>
			<H4>- Tư vấn cấu trúc vốn doanh nghiệp:</h4>
			<h4> &nbsp; +Rà soát chẩn đoán hiện trạng doanh nghiệp.</h4>
			<h4> &nbsp; +Tính toán lợi ích khi tái cơ cấu, đề ra các giải pháp thực hiện.</h4>
			<h4> &nbsp; +Xây dựng lộ trình tái cấu trúc, tư vấn các thủ tục pháp lý, quy trình thực hiện.</h4>
			<h4> &nbsp; +Xây dựng các giải pháp tái cấu trúc tài chính, tư vấn xây dựng các quy trình tài chính tối ưu.</h4>
			<h4> &nbsp; +Tiến hành thẩm định tiền khả thi.</h4>
			<H4>- Tư vấn thu xếp vốn:</h4>
			<h4> &nbsp; +Nghiên cứu và phân tích tính khả thi của dự án.</h4>
			<h4> &nbsp; +Kết nối nguồn tài trợ.</h4>
			<H4>- Các dịch vụ khác liên quan đến tư vấn doanh nghiệp.</h4>
			</div>
	    </div>
	    


		
	   
           

	  	
	    <!-- Footer -->
	    <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
		
		
        

    </body>
	 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	
	<!--<script src="//use.edgefonts.net/bebas-neue.js"></script>-->

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
</html>