<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

   

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
     <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>
	 <section id="main-slider" class="no-margin">
      
    </section><!--/#main-slider-->
	
	
     <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<h1><i class="icon-calendar"></i>
						DỊCH VỤ TƯ VẤN: </h1>
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section"style="background-color:#BBDEFB">
	    	<div class="container" >
				<div class="row">
				<div class="col-sm-12">
						<h2>EConsult</h2>
						<h3>Dịch vụ - tư vấn</h3>
						<h4>
							<p>Thế giới mà các Doanh nghiệp đang hoạt động luôn thay đổi, chính vì vậy</p> 
							<p>trong hoạt động kinh
							doanh các doanh nghiệp luôn phải tìm ra những giải pháp hữu hiệu nhất 
							<p/><p>để vừa thu được lợi nhuận
							cao vừa tuân thủ các quy định pháp luật hiện hành của Nhà nước.</p>
						</h4>
												<p> &nbsp;</p>
						<h4>
							<p>Với đội ngũ nhân sự có hiểu biết và kinh nghiệm thực tiễn sâu sắc,</p>
							<p><strong>E-Consult</strong> đã thực hiện đa dạng
								nhiều loại hình dịch vụ tư vấn được khách hàng đánh giá cao như:</p>
						</h4>
											
					</div>
				</div>
			</div>
		</div>

<hr>			
        

		<div class="section">
	        <div class="container">
			<h4><strong>- Tài chính và Kế toán Doanh nghiệp:</strong></h4>
			<p>&nbsp;&nbsp;+ Tư vấn lập Báo cáo tài chính Doanh nghiệp.</p>
			<p>&nbsp;&nbsp;+ Tư vấn xây dựng và lựa chọn mô hình kế toán doanh nghiệp.</p>
			<p>&nbsp;&nbsp;+ Tư vấn lựa chọn hình thức kế toán.</p>
			<p>&nbsp;&nbsp;+ Tư vấn thực hiện các thủ tục đăng ký kế toán.</p>
			<p>&nbsp;&nbsp;+ Tư vấn xây dựng qui chế tài chính, thuế.</p>
			<p>&nbsp;&nbsp;+ Tư vấn tính và lập bàng kê khai thuế.</p>
			<h4><strong>- Thành lập Doanh nghiệp:</strong></h4>
			<p>&nbsp;&nbsp;+ Tư vấn soạn thảo hồ sơ Thành lập doanh nghiệp.</p>
			<p>&nbsp;&nbsp;+ Tư vấn thủ tục và các việc cần phải làm trước và sau khi thành lập doanh nghiệp.</p>
			<h4><strong>- Dự án đầu tư:</strong></h4>
			<p>&nbsp;&nbsp;+ Tư vấn lựa chọn phương án đầu tư.</p>
			<p>&nbsp;&nbsp;+ Tư vấn lập Báo cáo dự án.</p>
			<p>&nbsp;&nbsp;+ Tư vấn lập Báo cáo quyết toán đầu tư.</p>
			<p>&nbsp;&nbsp;+ Tư vấn lựa chọn phương án đầu tư.</p>			
			<h4><strong>- Dự án đấu thầu:</strong></h4>
			<p>&nbsp;&nbsp;+ Tư vấn soạn thảo hồ sơ mời thầu.</p>
			<p>&nbsp;&nbsp;+ Tư vấn chấm và lựa chọn hồ sơ dự thầu.</p>
			<h4><strong>- Các hoạt động khác đã thực hiện:</strong></h4>
			<p>&nbsp;&nbsp;+ Tư vấn thẩm định giá trị tài sản.</p>
			<p>&nbsp;&nbsp;+ Tư vấn về cổ phần hóa doanh nghiệp.</p>
			<h4><strong><p>- Ngoài ra, E-Consult đã khảo sát, nghiên cứu đưa ra các ý kiến tư vấn hoặc trực tiếp xây dựng giúp
			các doanh nghiệp</p>
			<p> sắp xếp lại tổ chức sản xuất kinh doanh, tổ chức quản lý, soạn thảo và hướng dẫn
			thực hiện các quy định về quản trị doanh nghiệp,</p>
            <p>phân cấp quản lý, phân cấp tài chính về xây dựng
			và tổ chức thực hiện các chỉ tiêu hạch toán kinh tế nội bộ,</p> thực hiện cơ chế kế toán phù hợp với từng
			loại hình hoạt động của các doanh nghiệp trong nước và doanh nghiệp có vốn đầu tư</p> <p>nước ngoài.</p></strong></h4>
			</div>
	    </div>
	    


		
	   
           
	
	    <!-- Footer -->
		<% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        

    </body>
	 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	
	<!--<script src="//use.edgefonts.net/bebas-neue.js"></script>-->

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
</html>