<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

   

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

         <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>		
	 <section id="main-slider" class="no-margin">
      
    </section><!--/#main-slider-->
	
	
     <!-- Page Title -->
	 <p >
		<div class="section section-breadcrumbs">
			<div class="container" >
				<div class="row">
					<div class="col-md-12">
					<h1><i class="icon-calendar"></i>
						DỊCH VỤ - DỊCH THUẬT CÔNG CHỨNG: </h1>
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section" style="background-color:#BBDEFB">
	    	<div class="container" >
				<div class="row">
				<div class="col-sm-12">
						<h2>EConsult</h2>
						<h3>Dịch vụ - dịch thuật công chứng</h3>
						<h4>
							<p> <strong>E-Consult</strong> tự hào là đơn vị cung cấp dịch vụ <strong>DỊCH THUẬT CÔNG CHỨNG</strong> lấy ngay, lấy nhanh tại Hà
							Nội. Chúng tôi chuyên xử lý</p> 
							<p>những hồ sơ khó, bản gốc không hoàn chỉnh, ... Đặc biệt, Bản dịch công
							chứng đảm bảo chuẩn xác, đúng văn phong,</p> ngữ nghĩa của cơ quan Nhà nước cần nộp, văn bản định
							dạng đúng theo mẫu của bản gốc.
						</h4>

											
					</div>
				</div>
			</div>
		</div>
		<hr>
		
		<div class="section">
	        <div class="container">
			<h4><p>Theo quy định tại Khoản 1, Điều 2 trong Luật Công chứng năm 2014,</p> 
			<p>cùng với Phòng tư pháp của các
			quận/huyện, thì công chứng viên cũng được quyền chứng nhận lên cả bản dịch giấy tờ,</p>
			<p>văn bản từ
			tiếng Việt sang tiếng nước ngoài, ngược lại từ tiếng nước ngoài sang tiếng Việt và</p>
			<p>chỉ chứng thực
			chữ ký của người dịch. Điều kiện bắt buộc đối với người dịch đó là phải có bằng cấp chuyên môn về
			ngôn ngữ phù hợp,</p> phải đăng ký mẫu chữ ký tại phòng tư pháp của Ủy ban Nhân dân cấp
			Quận/Huyện hoặc Văn phòng Công chứng tư nhân.</h4>
			</div>
	    </div>
 
        <div class="section">
	    	<div class="container">
	        	<h4><p>Chúng tôi nhận dịch hơn 50 ngôn ngữ với 58 chuyên ngành nhau: tiếng Anh, tiếng Pháp, tiếng Trung
					(tiếng Hoa), tiếng Hàn Quốc,</p> tiếng Nhật Bản, tiếng Đức, tiếng Nga, tiếng Thụy Điển, tiếng Séc, tiếng
						Latinh, tiếng Hà Lan, tiếng Ả Rập, v.v...</h4>
				<p> &nbsp;</p>
				<p> &nbsp;</p>

				<h4>Xử lý đa dạng các loại hồ sơ, giấy tờ có tính pháp lý khác nhau như:</h4>
				<h4><p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>1. Hồ sơ cá nhân:</strong> Hộ tịch, Học bạ, Văn bằng, Chứng chỉ, Khai sinh, Giấy phép lái xe, Đăng ký kết hôn,</p>&nbsp;&nbsp;&nbsp;&nbsp;
					Giấy ly hôn, Chứng minh nhân dân, Hộ chiếu, Lý lịch tư pháp, ...</h4>
				<h4>&nbsp;&nbsp;&nbsp;&nbsp;<strong>2. Hồ sơ tổ chức, doanh nghiệp:</strong> Hồ sơ đấu thầu, Hợp đồng, Báo cáo tài chính doanh nghiệp, Đăng ký
					kinh doanh, Hồ sơ pháp lý,...</h4>
					<p> &nbsp;</p>
				<p> &nbsp;</p>
				<H4>Quy trình thực hiện <strong>khép kín</strong>, quản lý <strong>chuyên nghiệp</strong> giúp Khách hàng nhận kết quả hồ sơ <strong>sớm nhất,
				đúng như cam kết</strong>.</H4>	
	    	</div>
	    </div>

		</p>
	   
           

	    	
	    <!-- Footer -->
	    <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
		
		
        

    </body>
	 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	
	<!--<script src="//use.edgefonts.net/bebas-neue.js"></script>-->

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
</html>