<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

   

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

         <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>
	 <section id="main-slider" class="no-margin">
      
    </section><!--/#main-slider-->
	
	
     <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<h1><i class="icon-calendar"></i>
						TƯ VẤN HÔN NHÂN & GIA ĐÌNH: </h1>
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section"style="background-color:#BBDEFB">
	    	<div class="container" >
				<div class="row">
				<div class="col-sm-12">
						<h2>EConsult</h2>
						<h3>Dịch vụ - tư vấn hôn nhân & gia đình</h3>
						<h4>
							<p>Hoạt động tư vấn pháp luật hôn nhân gia đình trực tuyến được <strong>E-Consult</strong> mở rộng và phát triển</p>
							nhằm đáp ứng nhu cầu tư vấn pháp luật hôn nhân gia đình cho cá nhân, tổ chức không có điều kiện
							đến văn phòng yêu cầu tư vấn.
						</h4>
												<p> &nbsp;</p>
						<h4>
						<strong>E-Consult</strong> cung cấp dịch vụ tư vấn pháp luật lĩnh vực hôn nhân gia đình bao gồm các vấn đề cụ thể
						sau:</h4>
											
					</div>
				</div>
			</div>
		</div>

<hr>			
        

		<div class="section">
	        <div class="container">
			<h4><p>- Tư vấn đăng ký kết hôn, bao gồm: Đăng ký kết hôn giữa những cá nhân có quốc tịch Việt Nam và </p>
				giữa người Việt Nam với người nước ngoài.</h4>
			<h4><p>- Tư vấn pháp luật trong quan hệ hôn nhân gia đình: Tư vấn về quan hệ giữa vợ và chồng quan hệ
				giữa cha mẹ và con;</p> và mối quan hệ giữa các thành viên khác trong gia đình, dòng tộc.</h4>
			<H4>- Tư vấn pháp luật về cấp dưỡng.</h4>
			<H4>- Tư vấn xác định cha, mẹ, con.</h4>
			<H4>- Tư vấn thủ tục cho và nhận con nuôi.</h4>
			<H4>- Tư vấn về xác lập quan hệ giám hộ giữa các thành viên trong gia đình.</h4>
			<H4>- Tư vấn ly hôn.</h4>
			<H4>- Tư vấn quan hệ hôn nhân có yếu tố nước ngoài.</h4>
			<H4>- Tư vấn xử lý vi phạm pháp luật hôn nhân gia đình.</h4>

			</div>
	    </div>
	    


		
	   
           

	 	
	    <!-- Footer -->
	    <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        

    </body>
	 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	
	<!--<script src="//use.edgefonts.net/bebas-neue.js"></script>-->

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
</html>