<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
	
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!--/header-->
	<% include header.ejs %>
	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Thông tin tuyển dụng</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-no-padding">
		<div class="container">
			<div class="row">
				<!-- Featured News -->
				<div class="col-sm-9 featured-news">
					<!-- News -->
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/1.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"><%=result.data[0].embeddedLink %></a></div>
							<div class="date">17 Nov 2016 </div>
							<div class="intro">An ambitious program aiming to churn out an English-savvy workforce is way behind its 2020 deadline and falling short of projected targets. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/2.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html">TB chiêu sinh khóa học "Kỹ năng Luật sư tư vấn" miễn phí</a></div>
							<div class="date">08 May 2016 </div>
							<div class="intro">Học phần 1: gồm đào tạo các kỹ năng nghiên cứu và phân tích yêu cầu của khách hàng; kỹ năng trình bày các vấn đề. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/3.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Chương trình tri ân KH thân thiết - Chào 2017</a></div>
							<div class="date">27 Dec 2016 </div>
							<div class="intro">Công ty Luật E-Consult xin chúc mừng quý khách hàng đã tham gia sử dụng dich vụ đăng ký đất đai tại quận Hoàng Mai. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/1.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Vietnam’s costly foreign language program declared a failure</a></div>
							<div class="date">17 Nov 2016 </div>
							<div class="intro">An ambitious program aiming to churn out an English-savvy workforce is way behind its 2020 deadline and falling short of projected targets. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/2.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html">TB chiêu sinh khóa học "Kỹ năng Luật sư tư vấn" miễn phí</a></div>
							<div class="date">08 May 2016 </div>
							<div class="intro">Học phần 1: gồm đào tạo các kỹ năng nghiên cứu và phân tích yêu cầu của khách hàng; kỹ năng trình bày các vấn đề. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><a href="chi-tiet-bai-viet.html"><img src="img/blog/3.jpg" alt="Post Title"></a></div>
						<div class="col-xs-8">
							<div class="caption"><a href="chi-tiet-bai-viet.html"> Chương trình tri ân KH thân thiết - Chào 2017</a></div>
							<div class="date">27 Dec 2016 </div>
							<div class="intro">Công ty Luật E-Consult xin chúc mừng quý khách hàng đã tham gia sử dụng dich vụ đăng ký đất đai tại quận Hoàng Mai. <a href="chi-tiet-bai-viet.html">Read more...</a></div>
						</div>
					</div>
					<hr>
				</div>
				<!-- End Featured News -->
				<!-- Latest News -->
				<div class="col-sm-3">
							
				</div>
				<!-- End Featured News -->
			</div>
		</div>
	</div>
	  <!-- Footer -->
	  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		

	<!-- Javascripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="js/bootstrap.min.js"></script>
	
	<!-- Scrolling Nav JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/scrolling-nav.js"></script>		

</body>
</html>