<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Công ty luật EConsult</title>

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
	<% include header.login.ejs %>

    <p style="margin-top: 10%;border: 1px" class="section"></p>
    <section style="margin-bottom: 10%">
        <div class="col-md-4 col-md-offset-4 container" >
            <div class="col-md-12 text-center" style="background-color:#303F9F;border-radius: 5px">
            <h3 style="text-align: center">
                Đăng bài thành công!
            </h3>
            </div>
            <div>
                <hr>
            </div>
            
            <div class="form-group" style="background-color: #B3E5FC;border-radius: 5px">
                <p>Đăng bài thành công, bạn có muốn đăng thêm bài ?</p>
                <p>Click Đăng bài để đăng thêm bài viết mới</p>
                <p>Click Không để trở về trang chủ</p>
            
            <div class="col-md-6 text-center">
                    <form id="myForm" action="reUp" method="get"> 
                            <button type="submit" class="btn btn-primary btn-lg">Đăng bài</button>
                    </form>
                
            </div>
            <div class="col-md-6 text-center">
                    <form id="myForm" action="index" method="get"> 
                            <button type="submit" class="btn btn-primary btn-lg">Không</button>
                    </form>
                
            </div>
            </div>
        </div>
    </section>

<p style="margin-top: 20%"></p>
<hr style="margin-top: 10%">
        <!-- Footer -->
        <div style="margin-top: 10%"></div>
		<% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		
        

    </body>
	
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">
    <link href="/css/custom.css" rel="stylesheet">
	


    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/icomoon-social.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	
	<script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="/js/jquery.easing.min.js"></script>
		<script src="/js/scrolling-nav.js"></script>	
</html>